.dashboard-nav {
    position: relative;
}

.dashboard-nav .premium {
    width: 88px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 12px;
    background: #403dc1;
    padding: 0 10px 0 10px;
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.advertise {
    margin-top: 15px;
    height: 137px !important;
}

.dashboard-product-manage .product-list-nav {
    margin-top: 25px;
    /*text-align: center;*/
    margin-left: 25px;
}

.dashboard-product-manage .product-list-nav ul li {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.dashboard-product-manage {
    margin-top: 20px;
}

.dashboard-product-manage .product-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.dashboard-product-manage .product-item .item-image {
    width: 65px;
    height: 65px;
    display: inline-block;
}

.dashboard-product-manage .product-item .item-image img {
    width: 100%;
    height: 100%;
}

.dashboard-product-manage .product-item .item-title {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 10px;
    width: 200px;
}

.dashboard-product-manage .product-item .item-title h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.dashboard-product-manage .product-item .item-title .item-meta p {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.dashboard-product-manage .product-item .dashboard-wishlist-item-meta #wishlist-updated {
    font-weight: 100;
    margin-left: 12px;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-rating {
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
    vertical-align: top;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-rating i {
    font-size: 18px;
    color: #b1c6fc;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-rating i.active {
    color: #648efc;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-seller {
    display: inline-block;
    margin-left: 15px;
    margin-top: 5px;
    vertical-align: top;
    text-align: right;
    color: rgba(0, 0, 0, .5);
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-seller p {
    font-size: 14px;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-seller button {
    padding: 3px 10px 3px 10px;
    margin-top: 5px;
    font-size: 12px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .5);
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-more {
    position: absolute;
    right: 0;
    top: 40px;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-more i {
    font-size: 24px;
    color: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .5);
    height: 22px;
    width: 22px;
    text-align: center;
    vertical-align: center;
    padding-bottom: 3px;
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-popup {
    border: 1px solid rgba(0, 0, 0, .2);
    text-align: right;
    padding: 15px;
    margin-top: 12px;
    display: none;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-popup li {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-popup li input {
    display: inline-block;
    background: transparent;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.dashboard-product-manage .dashboard-wishlist-item .dashboard-wishlist-item-popup #popup-buy {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.no-list {
    text-align: center;
    color: #648efc;
    font-weight: 600;
    font-size: 14px;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #DEDEDE;
}