.dashboard-nav {
    position: relative;
}

.dashboard-nav .premium {
    width: 88px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 35px;
    font-size: 12px;
    background: orangered;
    padding: 0 10px 0 10px;
    color: white;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.dashboard-info-profit {
    margin-top: 15px;
    border: 2px solid #DADADA;
    width: 561px;
    height: 245px;
    text-align: center;
}

.dashboard-info-profit .dashboard-info-summary {
    border: None;
    width: 22%;
}

.dashboard-info-profit .dashboard-info-summary .dashboard-info-summary-count {
    width: 100px;
    height: 100px;
    background: #DADADA;
    border-radius: 50%;
    margin-top: 40px;
}

.dashboard-info-profit .dashboard-info-summary img {
    height: 50px;
    margin-top: 23px;
}

.dashboard-info-summary-title {
    position: absolute;
}

.dashboard-info-summary-title .meta {
    font-size: 10px;
    color: #777777;
    margin-top: 3px;
}

.money {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: -.03em;
}

.account-info .money {
    font-size: 18px;
    margin-right: 5px;
    font-weight: normal;
    letter-spacing: -.03em;
}

.money .unit {
    font-size: 12px;
    margin-left: 2px;
}

.profit-info {
    border: 2px solid #DADADA;
    border-top: none;
    width: 561px;
    height: 150px;
    position: relative;
}

.profit-info .profit-info-left {
    width: 70%;
    display: inline-block;
}

.profit-info .profit-info-right {
    width: 29%;
    display: inline-block;
}

.profit-info .profit-info-right button {
    background: #648efc;
    color: white;
    padding: 10px 35px 10px 35px;
    font-weight: 500;
    margin-top: 55px;
    font-size: 12px;
}

.profit-info .profit-info-left label {
    font-size: 14px;
    font-weight: bold;
    color: #648efc;
    text-align: left;
    margin-right: 5px;
}

.profit-info .profit-info-left label[for='account_name'] {
    left: 40px;
    top: 20px;
}

.profit-info .profit-info-left label[for='bank'] {
    left: 40px;
    top: 50px;
}

.profit-info .profit-info-left label[for='account_number'] {
    left: 40px;
    top: 80px;
}

.profit-info .meta {
    font-size: 10px;
    color: #777;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
}

.profit-info .account-info{
    margin-left:5%;
}

.profit-info .account-info input {
    border-bottom: solid 1px #DADADA;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 12px;
    width: 200px;
}

.profit-info .account-info select {
    left: 108px;
    top: 50px;
}

.profit-info .account-info input[name='account_number'] {
    margin-top: 20px;
}

/*.profit-info .account-info p {
    margin-top: 10px;
}*/

/* added part */
.withdrawal_forms_each.account_name{
    width:27%;
    display: inline-block;
}

.withdrawal_forms_each.account_name input{
    width:35%;
}

.withdrawal_forms_each.bank{
    width:36%;
    display: inline-block;
}

.withdrawal_forms_each.bank select{
    width: 65%;
}

.withdrawal_forms_each.account_number{
    width:30%;
    display: inline-block;
}

.withdrawal_forms_each.account_number label {
    display: none;
}

.withdrawal_forms_each.account_number input{
    width: 100%;
}


.profit-info .profit-info-right input[type="submit"]{
    width:85px;
    height:28px;
    background-color: #648efc;
    color:white;
    font-size: 14px;
}

.profit-info-left.withdrawal input{
    width:20%;
}

.profit-history-nav {
    margin-top: 25px;
    margin-left: 25px;
}

.profit-history-nav li {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
}

.profit-history-nav .active {
    color: #648efc;
}

.profit-history {
    margin-top: 10px;
    padding-bottom: 25px;
    border: 2px solid #DADADA;
    width: 561px;
    height: 229px;
    text-align: center;
}

.withdraw-history-ul {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #555555;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}

.withdraw-history-ul li{
    display: inline;
}

.withdraw-history .date{
    margin-right: 110px;
}

.withdraw-history .price{
    margin-right: 110px;
}

.withdraw-history-ul-wrapper {
    margin-bottom: 10px;
}

.withdrawal_items_wrapper {
    text-align: center;
    overflow: auto;
    max-height: 172px;
}
.withdrawal_items_wrapper .withdrawal_item {
    border: 1px solid #DADADA;
    width: 88%;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}

.withdrawal_item span {
    display: inline-block;

}

.withdrawal_item .withdraw_date {
    width: 32%;
    text-align: center;
}

.withdrawal_item .withdraw_money {
    width: 32%;
    text-align: center;
}

.withdrawal_item .withdraw_status {
    width: 33%;
    text-align: center;
}