{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_js %}
     <script type="text/javascript" src="{% static 'js/accounts.js' %}"></script>
     <script type="text/javascript">
         $(function(){
             /* 비밀번호 틀렸을때 에러 메세지 날려주기 */
             {% if error_message %}
                 alert("{{ error_message }}");
             {% endif %}
         })

        $(document).ready(function(){
            {% if seller %}
                $(".seller_form_input.type input[value='{{ seller.type }}']").prop('checked', true);
                show_by_seller_type();
                $(".seller_form_input.company_name input").val('{{ seller.company_name }}');
                $(".seller_form_input.representative_name input").val('{{ seller.representative_name }}');
                $(".seller_form_input.corporate_number input").val('{{ seller.corporate_number }}');
                $(".seller_form_input.business_field input").val('{{ seller.business_field }}');
                $(".seller_form_input.company_type input").val('{{ seller.company_type }}');
            {% endif %}

            {% if seller_account %}
                $(".seller_form_input.account_name input").val('{{ seller_account.account_name }}');
                $(".seller_form_input.account_number select option[value='{{ seller_account.bank }}']").prop('selected', true);
                $(".seller_form_input.account_number #id_account_number").val('{{ seller_account.account_number }}');
            {% endif %}

        });
     </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            정보수정
        </div>
        <div class="dashboard-change-form-menu">
            <ul>
                <li>
                    <button id="btn_basic_info">
                        기본정보
                    </button>
                </li>
                <li>
                    <button id="btn_seller_info">
                        판매자 등록 정보
                    </button>
                </li>
            </ul>
        </div>
        <div class="dashboard-change-form base">
            <form class="change_form user" id="change_form_user" method="POST" action="{% url 'change_info' %}" enctype="multipart/form-data">{%  csrf_token %}
                <!-- basic info part -->
                기본정보
                <span class="user-info-guide">* 필수정보를 입력해주셔야 수정이 가능합니다.</span>
                <div class="base_info">
                    <div class="base_info_image">
                        <img class="add_image" src="{{ user.get_avatar }}">
                        <input id="id_media" name="media" type="file">
                    </div>
                    <div class="base_info_basic">
                        <div class="base_info_basic_content name">
                            <div class="base_info_basic_content title">
                                이름
                            </div>
                            <input type="text" name="name" value="{{ request.user.name }}"/>
                        </div>
                        <div class="base_info_basic_content birth_year">
                            <div class="base_info_basic_content title">
                                출생년도
                            </div>
                            <select name="birth_year">
                                {% for year in year_list %}
                                    {% if request.user.birth_year == year %}
                                        <option value="{{ year }}" selected>{{ year }}</option>
                                    {% else %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="base_info_basic_content sex">
                            <div class="base_info_basic_content title">
                                * 성별
                            </div>
                            {% if request.user.sex == 'female' %}
                            <span class="radio_female_wrapper">
                                <input type="radio" name="sex" value="female" checked="checked"> 여성
                            </span>
                            <span class="radio_male_wrapper">
                                <input type="radio" name="sex" value="male"> 남성
                            </span>
                            {% elif request.user.sex == 'male' %}
                            <span class="radio_female_wrapper">
                                <input type="radio" name="sex" value="female"> 여성
                            </span>
                            <span class="radio_male_wrapper">
                                <input type="radio" name="sex" value="male" checked="checked"> 남성
                            </span>
                            {% else %}
                            <span class="radio_female_wrapper">
                                <input type="radio" name="sex" value="female"> 여성
                            </span>
                            <span class="radio_male_wrapper">
                                <input type="radio" name="sex" value="male"> 남성
                            </span>
                            {% endif %}
                        </div>
                        <div class="base_info_basic_content address">
                            <div class="base_info_basic_content title">
                                거주지역
                            </div>
                            <select name="address">
                                {% for address in address_list %}
                                    {% if request.user.address == address %}
                                        <option value="{{ address }}" selected>{{ address }}</option>
                                    {% else %}
                                        <option value="{{ address }}">{{ address}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="base_info_basic_content job">
                            <div class="base_info_basic_content title">
                                직업
                            </div>
                            <input type="job" name="job" value="{{ request.user.job }}"/>
                        </div>
                        <div class="base_info_basic_content email">
                            <div class="base_info_basic_content title">
                                이메일
                            </div>
                            <input type="email" name="email" value="{{ request.user.email }}" disabled/>
                        </div>
                        <div class="base_info_basic_content phone">
                            <div class="base_info_basic_content title">
                            * 연락처
                            </div>
                            <input type="phone" name="phone" placeholder="연락처는 타인에게 보이지 않습니다." value="{{ request.user.phone }}"/>
                        </div>
                    </div>
                </div>
                <!-- 자기소개 -->
                <div class="description_wrapper">
                    <div class="description_title">
                        자기소개
                    </div>
                    <div class="description_text_wrapper">
                        <textarea id="id_description" name="description" rows="7" cols="40">{{ request.user.description }}</textarea>
                    </div>
                </div>
                <!-- 비밀번호 변경 -->
                <div class="password_reset_wrapper">
                    <div class="password_reset_title">
                        비밀번호 변경
                    </div>
                    <div class="password_rest_content">
                        <div>
                            * 현재 비밀번호 <input type="password" name="current_passwd" id="current_passwd">
                        </div>
                        <div>
                            변경 비밀번호 <input type="password" name="new_passwd1" id="new_passwd1">
                        </div>
                        <div>
                            비밀번호 확인 <input type="password" name="new_passwd2" id="new_passwd2">
                        </div>
                    </div>
                </div>
                <!-- 알림 수신 설정 -->
                <div class="agree_alarm_wrapper">
                    <div class="agree_alarm_title">
                        알림 수신 설정
                    </div>
                    <div class="agree_alarm_content_wrapper">
                        <div class="agree_alarm_content purchase">
                            <div class="alarm_content_title">
                                <div>구매정보 수신</div>
                                <div>(메시지, 작업요청 정보 등)</div>
                            </div>
                            <div class="alarm_content_checkbox">
                                {% if request.user.agree_purchase_info_email %}
                                    <input type="checkbox" name="agree_purchase_info_email" checked="checked"> 이메일
                                {% else %}
                                    <input type="checkbox" name="agree_purchase_info_email"> 이메일
                                {% endif %}
                                {% if request.user.agree_purchase_info_SMS %}
                                    <input type="checkbox" name="agree_purchase_info_SMS" checked="checked"> SMS/MMS
                                {% else %}
                                    <input type="checkbox" name="agree_purchase_info_SMS"> SMS/MMS
                                {% endif %}
                            </div>
                        </div>
                        <div class="agree_alarm_content selling">
                            <div class="alarm_content_title">
                                <div>판매정보 수신</div>
                                <div>(메시지, 작업요청 정보 등)</div>
                                <div>* 판매자는 꼭 동의해주세요.</div>
                            </div>
                            <div class="alarm_content_checkbox">
                                {% if request.user.agree_selling_info_email %}
                                    <input type="checkbox" name="agree_selling_info_email" checked="checked"> 이메일
                                {% else %}
                                    <input type="checkbox" name="agree_selling_info_email"> 이메일
                                {% endif %}
                                {% if request.user.agree_selling_info_SMS %}
                                    <input type="checkbox" name="agree_selling_info_SMS" checked="checked">  SMS/MMS
                                {% else %}
                                    <input type="checkbox" name="agree_selling_info_SMS">  SMS/MMS
                                {% endif %}
                            </div>
                        </div>
                        <div class="agree_alarm_content marketing">
                            <div class="alarm_content_title">
                                <div>마케팅정보 수신</div>
                                <div>(할인정보, 이벤트 등)</div>
                            </div>
                            <div class="alarm_content_checkbox">
                                {% if request.user.agree_marketing_info_email %}
                                    <input type="checkbox" name="agree_marketing_info_email" checked="checked"> 이메일
                                {% else %}
                                    <input type="checkbox" name="agree_marketing_info_email"> 이메일
                                {% endif %}
                                {% if request.user.agree_marketing_info_SMS %}
                                    <input type="checkbox" name="agree_marketing_info_SMS" checked="checked">  SMS/MMS
                                {% else %}
                                    <input type="checkbox" name="agree_marketing_info_SMS">  SMS/MMS
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dialog-confirm" title="정보수정 완료">
                정보수정을 완료하였습니다.<br>
                메인 페이지로 가시겠습니까?
                </div>
                <input type="hidden" id="go_main" name="go_main" value="True"/>
                <button class="change_button" type="button">변경하기</button>
            </form>
        </div>
        <div class="dashboard-change-form seller">
            <form class="change_form seller" id="change_form_seller" method="POST" action="{% url 'change_info' %}" enctype="multipart/form-data">{%  csrf_token %}
                <div class="change_seller_form_wrapper">
                    <div class="seller_form_content type">
                        <div class="seller_form_title type">
                            {{ seller_form.type.label }}
                        </div>
                        <div class="seller_form_input type">
                            {{ seller_form.type }}
                        </div>
                    </div>
                    <div class="seller_form_content account_name">
                        <div class="seller_form_title account_name">
                            {{ seller_account_form.account_name.label }}
                        </div>
                        <div class="seller_form_input account_name">
                            {{ seller_account_form.account_name }}
                        </div>
                    </div>
                    <div class="seller_form_content account_number">
                        <div class="seller_form_title account_number">
                            {{ seller_account_form.account_number.label }}
                        </div>
                        <div class="seller_form_input account_number">
                            {{ seller_account_form.bank }}
                            {{ seller_account_form.account_number }}
                        </div>
                    </div>
                    <div class="seller_form_content company_name">
                        <div class="seller_form_title company_name">
                            {{ seller_form.company_name.label }}
                        </div>
                        <div class="seller_form_input company_name">
                            {{ seller_form.company_name }}
                        </div>
                    </div>
                    <div class="seller_form_content representative_name">
                        <div class="seller_form_title representative_name">
                            {{ seller_form.representative_name.label }}
                        </div>
                        <div class="seller_form_input representative_name">
                            {{ seller_form.representative_name }}
                        </div>
                    </div>
                    <div class="seller_form_content corporate_number">
                        <div class="seller_form_title corporate_number">
                            {{ seller_form.corporate_number.label }}
                        </div>
                        <div class="seller_form_input corporate_number">
                            {{ seller_form.corporate_number }}
                        </div>
                    </div>
                    <div class="seller_form_content business_field">
                        <div class="seller_form_title business_field">
                            {{ seller_form.business_field.label }}
                        </div>
                        <div class="seller_form_input business_field">
                            {{ seller_form.business_field }}
                        </div>
                    </div>
                    <div class="seller_form_content company_type">
                        <div class="seller_form_title company_type">
                            {{ seller_form.company_type.label }}
                        </div>
                        <div class="seller_form_input company_type">
                            {{ seller_form.company_type }}
                        </div>
                    </div>
                    <div class="seller_form_content business_license">
                        <div class="seller_form_title business_license">
                            {{ seller_form.business_license.label }}
                        </div>
                        <div class="seller_form_input business_license">
                            <input class="file_name business_license" value="파일선택" disabled="disabled">
                            <label for="id_business_license">찾아보기</label>
                            {{ seller_form.business_license }}
                        </div>
                    </div>
                    <div class="seller_form_content account_copy">
                        <div class="seller_form_title account_copy">
                            {{ seller_form.account_copy.label }}
                        </div>
                        <div class="seller_form_input account_copy">
                            <input class="file_name account_copy" value="파일선택" disabled="disabled">
                            <label for="id_account_copy">찾아보기</label>
                            {{ seller_form.account_copy }}
                        </div>
                    </div>
                </div>
                <div id="dialog-confirm2" title="정보수정 완료">
                정보수정을 완료하였습니다.<br>
                메인 페이지로 가시겠습니까?
                </div>
                <input type="hidden" id="go_main2" name="go_main" value="True"/>
                <button class="change_button_seller" type="button">변경하기</button>
            </form>
        </div>

    </div>
{% endblock %}