{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            마이페이지
        </div>
        {% if not is_seller %}
            <div class="dashboard-register-seller">
                <div class="dashboard-register-seller-description">
                    <p>SNS 운영자라면 판매자로 등록할 수 있습니다.</p>
                    <p>적합한 포스팅 구매자와 빠르고 간편하게 거래할 수 있습니다.</p>
                </div>
                <button class="dashboard-register-seller-button">상품 등록</button>
            </div>
        {% endif %}
        <div class="dashboard-menu">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'wish_list' %}">
                                구매<i class="fa fa-angle-right"></i>
                                <div class="sub-info">0</div>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                판매<i class="fa fa-angle-right"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                메세지<i class="fa fa-angle-right"></i>
                                <div class="sub-info">0</div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                잔고<i class="fa fa-angle-right"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'change_info' %}">
                                내 정보<i class="fa fa-angle-right"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                고객센터<i class="fa fa-angle-right"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}