{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}
{% load producttags %}
<script type="text/javascript">
    $(function () {
        $('.contact_button').on('click', function () {
            // 관리자 계정(또는 1:1상담 받을 계정)으로 연결. 2번째, 3번째, 4번째 파라미터를 관리자 계정 정보로 넣고 주석 해제하기
            startMessage('{{ user.id }}', '{{ user.id|cs_admin_user_id }}', '{{ user.id|cs_admin_user_short_name }}', '{{ user.id|cs_admin_user_avatar }}');
        });
    });
</script>

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            마이페이지
        </div>
        {% if not is_seller %}
            <div class="dashboard-register-seller">
                <div class="dashboard-register-seller-description">
                    <p>SNS 운영자라면 판매자로 등록할 수 있습니다.</p>
                    <p>적합한 포스팅 구매자와 빠르고 간편하게 거래할 수 있습니다.</p>
                </div>
                <a href="{% url 'product_upload' %}" class="dashboard-register-seller-button">상품 등록</a>
            </div>
        {% endif %}
        <div class="dashboard-menu">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'wish_list' %}">
                                <div style="height:100%;width:100%">
                                    구매<i class="fa fa-angle-right"></i>
                                    <div class="sub-info">0</div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'product_order_manage' %}">
                                <div style="height:100%;width:100%">
                                    판매<i class="fa fa-angle-right"></i>
                                    <div class="sub-info">0</div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'message_lounge' %}">
                                <div style="height:100%;width:100%">
                                    메시지<i class="fa fa-angle-right"></i>
                                    <div class="sub-info unread-message"></div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'point_history' %}">
                                <div style="height:100%;width:100%">
                                    포인트<i class="fa fa-angle-right"></i>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'change_info' %}">
                                <div style="height:100%;width:100%">
                                    내 정보<i class="fa fa-angle-right"></i>
                                </div>
                            </a>
                        </td>
                        <td class="contact_button">
                            <a>
                                고객센터<i class="fa fa-angle-right"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}