{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}
{% load producttags %}


{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/wishlist.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/dashboard/wishlist.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.wish_list_delete').on('click', function (e) {
                e.preventDefault();
                var formData = $(this).parent().serialize();

                $.ajax({
                    type: 'GET',
                    url: "{% url 'wish_list' %}",
                    data: formData,
                    success: function (data) {
                        alert('성공적으로 삭제되었습니다');
                        window.location.reload();
                    },
                    error: function (response, error) {
                        $('#delete-form').submit();
                    }
                });
            });

            $('.cart-add').on('click', function (e) {
                e.preventDefault();
                var formData = $(this).parent().serialize();

                $.ajax({
                    type: 'GET',
                    url: "{% url 'cart' %}",
                    data: formData,
                    success: function (data) {
                        if (data['status'] == 'success') {
                            alert('장바구니에 성공적으로 담겼습니다.');
                            window.location.href = "{% url 'cart' %}";
                        } else if (data['status'] == 'already_exist') {
                            alert('이미 장바구니에 있습니다.');
                        } else {
                            console.log(data);
                            alert('다시 시도해주세요.');
                        }
                    },
                    error: function (response, error) {
                        $('#add-form').submit();
                    }
                });
            });

            $('.ask-seller').on('click', function () {
                startMessage('{{ user.id }}', $(this).data('id'), $(this).data('name'), $(this).data('profile'));
            });
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-info">
            <div class="dashboard-info-summary info-order-wish">
                <div class="dashboard-info-summary-title">
                    찜목록
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'wish_list' %}" class="dashboard-info-img active">
                        <img src="{% static 'img/buyer_01.png' %}" style="margin-left: -5px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-cart">
                <div class="dashboard-info-summary-title">
                    장바구니
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'cart' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_02.png' %}" style="margin-left: -8px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    구매관리
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'purchase_list' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_03.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboard-wishlist">
            {% if lists %}
                {% for product in lists %}
                    {% cycle '<div class="row">' '' '' '' %}
                    <div class="list-card-wrapper">
                        <a href="{{ product.get_absolute_url }}"
                           class="{% cycle 'list-card' 'list-card' 'list-card last' %}">
                            <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                <div class="card-title">
                                    {{product.oneline_intro}}
                                </div>
                                <div class="circle-wrapper">
                                    <img class="circle-arrow" src="{% static 'img/arrow_gauge.png' %}" >
                                    <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                        <li class="circle-list">
                                            <div class="circle-text">1</div>
                                        </li>
                                        <li class="circle-list">
                                            <div class="circle-text">2</div>
                                        </li>
                                        <li class="circle-list">
                                            <div class="circle-text">3</div>
                                        </li>
                                        <li class="circle-list">
                                            <div class="circle-text">4</div>
                                        </li>
                                        <li class="circle-list">
                                            <div class="circle-text">5</div>
                                        </li>
                                        <div class="circle-mask2">
                                            <div class="circle-mask2-text">
                                                <span style="font-size:1em;">{{ product.unit_price }}</span>
                                                <span style="font-size:0.8em;">원</span>
                                            </div>
                                        </div>
                                    </ul>
                                    <div class="cash">
                                        <span class="cash-price" style="font-size:1em; color:grey;" data-price="{{ product.price }}">
                                           {{ product.price }}원
                                            {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                ~
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="card-subtitle">
                                    {% for sns in product.sns_set.all %}
                                        {% for item in sns.analytics.all %}
                                            {{ item }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="card-author">
                                    <div class="card-author-info">
                                        <span>{{ product.seller }}</span>
                                    </div>
                                    <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-btns-wrapper">
                            <ul>
                                <li>
                                    <button class="ask-seller" data-id="{{ product.seller.user.id }}" data-name="{{ product.seller }}" data-profile="{{ product.seller.user.get_avatar }}" >
                                        문의하기
                                    </button>
                                </li>
                                <li>
                                    <form method="GET" id="delete-form" action="{% url 'wish_list' %}"> 
                                        <input type="hidden" name="product" value="{{ product.id }}"/> 
                                        <input type="hidden" name="delete" value="true"/>
                                        <button class="wish_list_delete" type="submit" value="삭제하기">
                                        삭제하기
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                        {% if products|length == forloop.counter %}
                            </div>
                        {% else %}
                            {% cycle '' '' '' '</div>' %}
                        {% endif %}
                {% endfor %}
               </div>
            {% else %}
                <div class="no-wishlist">
                    앗! 아직 위시리스트가 없네요!
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}