{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/purchase.css' %}">
{% endblock %}

csrfmiddlewaretoken : "{{ csrf_token }}"

{% block dashboard_js %}
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.1.js"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/purchase.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autoNumeric-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mask.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            // 적립금 전액 사용
            $('.mileage .button button').on('click', function () {
                if (parseInt('{{ user.mileage }}') > parseInt('{{ order.order_total }}')) {
                    $('.mileage-input input').autoNumeric('set', '{{ order.order_total }}');
                } else {
                    $('.mileage-input input').autoNumeric('set', '{{ user.mileage }}');
                }
                var point = $('.pay-info .discount #point').val();
                var sub_total = parseInt({{ order.order_total }}) - parseInt(point);
                var mileage = $('.mileage-input input').autoNumeric('get');
                if (mileage > sub_total) {
                    $('.mileage-input input').val(sub_total);
                    mileage = $('.mileage-input input').autoNumeric('get');
                }
                var total = parseInt({{ order.order_total }}) - parseInt(mileage) - parseInt(point);
                if (total == 0 ) {
                    $("#pay_by_point").attr("checked", true);
                    $('.buyer-info').show();
                }
                var _total = total + '<span>원</span>';

                $('.billing-info .total h1').html(_total).digits();
            });

            // 포인트 전액 사용
            $('.point .button button').on('click', function () {
                if (parseInt('{{ user.point }}') > parseInt('{{ order.order_total }}')) {
                    $('.point-input input').autoNumeric('set', '{{ order.order_total }}');
                } else {
                    $('.point-input input').autoNumeric('set', '{{ user.point }}');
                }
                var mileage = $('.pay-info .discount #mileage').val();
                var sub_total = parseInt({{ order.order_total }}) - parseInt(mileage);
                var point = $('.point-input input').autoNumeric('get');
                if (point > sub_total) {
                    $('.point-input input').val(sub_total);
                    point = $('.point-input input').autoNumeric('get');
                    $("#pay_by_point").prop("checked", true);
                }
                var total = parseInt({{ order.order_total }}) - parseInt(mileage) - parseInt(point);
                if (total == 0 ) {
                    $("#pay_by_point").attr("checked", true);
                    $('.buyer-info').show();
                }
                var _total = total + '<span>원</span>';

                $('.billing-info .total h1').html(_total).digits();
            });

            // 결제금액에 사용 적립금 적용
            $('.pay-info .discount #mileage').on('keyup', function () {
                var point = $('.pay-info .discount #point').val();
                var sub_total = parseInt({{ order.order_total }}) - parseInt(point);
                var mileage = $(this).autoNumeric('get');
                if (mileage > sub_total) {
                    $(this).val(sub_total);
                    mileage = $(this).autoNumeric('get');
                }
                var total = parseInt({{ order.order_total }}) - parseInt(mileage) - parseInt(point);
                if (total == 0 ) {
                    $("#pay_by_point").attr("checked", true);
                    $('.buyer-info').show();
                }
                var _total = total + '<span>원</span>';

                $('.billing-info .total h1').html(_total).digits();
            });

            // 결제금액에 사용 포인트 적용
            $('.pay-info .discount #point').on('keyup', function () {
                var mileage = $('.pay-info .discount #mileage').val();
                var sub_total = parseInt({{ order.order_total }}) - parseInt(mileage);
                var point = $(this).autoNumeric('get');
                if (point > sub_total) {
                    $(this).val(sub_total);
                    point = $(this).autoNumeric('get');
                }
                var total = parseInt({{ order.order_total }}) - parseInt(mileage) - parseInt(point);
                if (total == 0 ) {
                    $("#pay_by_point").attr("checked", true);
                    $('.buyer-info').show();
                }
                var _total = total + '<span>원</span>';

                $('.billing-info .total h1').html(_total).digits();
            });

            // 결제하기 버튼
            $('.dashboard-purchase-bill .dashboard-charge-button').on('click', function (e) {
                var is_checked = $('.pay-info .pay-option input[type="radio"]').is(':checked');
                if (is_checked === true) {
                    var mileage = $('.pay-info .discount #mileage').val();
                    var point = $('.pay-info .discount #point').val();
                    var total = parseInt({{ order.order_total }}) - parseInt(mileage) - parseInt(point);
                    var radio_val =  $('.pay-info .pay-option input[type="radio"]:checked').val();
                    if (total !== 0 && radio_val === 'point') {
                        alert('전체 결제금액이 0원일 때만 선택가능합니다. 다른 결제정보를 선택해주세요');
                    } else {
                        var buyer_name = $('.buyer-info input[name="name"]').val();
                        var buyer_phone = $('.buyer-info input[name="phone"]').val();
                        var buyer_type = $('.pay-info .pay-option input:checked').val();

                        $.ajax({
                            type: 'get',
                            data: {
                                name: buyer_name,
                                phone: buyer_phone
                            }
                        });

                        if (buyer_name !== '' && buyer_phone !== '') {
                            var mileage_info = $('.pay-info .discount #mileage').autoNumeric('get');
                            var point_info = $('.pay-info .discount #point').autoNumeric('get');
                            var order_info = "{{ order.order_id }}";

                            var total_info = AjaxGetTransaction(e, order_info, mileage_info, point_info, buyer_type);
                            var purchase_name = '';
                            if ($('.item').length == 1) {
                                purchase_name = $.trim($('.item .item-title').text());
                            } else {
                                purchase_name = $.trim($('.item:first-child .item-title').text()) + ' 외 ' + ($('.item').length-1).toString() + '개';
                            }

                            if (total_info !== '') {
                                if (total_info > 0) {
                                    IMP.request_pay({
                                        pg: 'html5_inicis',
                                        escrow: false,
                                        digital: true,
                                        pay_method: buyer_type,
                                        merchant_uid: order_info,
                                        name: '[소셜업]' + purchase_name,
                                        amount: total_info,
                                        buyer_email: "{{ user.email }}",
                                        buyer_name: buyer_name,
                                        buyer_tel: buyer_phone
                                    }, function (rsp) {
                                        if (rsp.success) {
                                            //var msg = '결제가 완료되었습니다.';
                                            //msg += '고유ID : ' + rsp.imp_uid;
                                            //msg += '상점 거래ID : ' + rsp.merchant_uid;
                                            //msg += '결제 금액 : ' + rsp.paid_amount;
                                            //msg += '카드 승인번호 : ' + rsp.apply_num;
                                            //console.log(msg);
                                            ImpTransaction(e, rsp.merchant_uid, rsp.imp_uid, rsp.paid_amount);
                                        } else {
                                            var msg = '결제에 실패하였습니다.';
                                            msg += '에러내용 : ' + rsp.error_msg;
                                            alert(msg);
                                            post_to_url('/dashboard/purchase/fail/', {"order_id":order_info, "csrfmiddlewaretoken":"{{ csrf_token }}"});
                                        }
                                    });
                                }
                                else if (total_info === 0){
                                    alert("결제가 완료되었습니다.");
                                    window.location.href='/dashboard/purchase/success'
                                }
                                else {

                                }
                            }
                        } else {
                            alert('결제자 정보를 입력해주세요.');
                        }
                    }
                } else {
{#                    if (true) {#}
                        alert('결제정보를 선택해주세요.');
{#                    }#}
                }
            });
        });

        function AjaxGetTransaction(e, order, mileage, point, type) {
            e.preventDefault();
            var pay_total = '';

            var request = $.ajax({
                method: "POST",
                url: '{% url "checkout" %}',
                async: false,
                data: {
                    order: order,
                    mileage: mileage,
                    point: point,
                    type: type
                }
            });

            request.done(function (data) {
                if (data.works) {
                    pay_total = data.total;
                }
            });

            request.fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 404) {
                    alert("페이지가 존재하지 않습니다.");
                } else if (jqXHR.status == 403) {
                    alert("로그인 해주세요.");
                } else {
                    alert("문제가 발생했습니다. 다시 시도해주세요.");
                }
                window.location.href='/dashboard/purchase/fail'
            });

            return pay_total;
        }

        function ImpTransaction(e, merchant_id, imp_id, amount) {
            e.preventDefault();

            var request = $.ajax({
                method: "POST",
                url: '{% url "validation" %}',
                async: false,
                data: {
                    merchant_id: merchant_id,
                    imp_id: imp_id,
                    amount: amount
                }
            });

            request.done(function (data) {
                if (data.works) {
                    alert("결제가 완료되었습니다.");
                    window.location.href='/dashboard/purchase/success'
                }
            });

            request.fail(function (jqXHR, textStatus) {
                if (jqXHR.status == 404) {
                    alert("페이지가 존재하지 않습니다.");
                } else if (jqXHR.status == 403) {
                    alert("로그인 해주세요.");
                } else {
                    alert("문제가 발생했습니다. 다시 시도해주세요.");
                }
                window.location.href='/dashboard/purchase/fail'
            });
        }

        function post_to_url(path, params, method) {
            method = method || "post";
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-purchase">
        <div class="item-list">
            {% for item in cart %}
                <div class="item">
                    <div class="item-image">
                        <img src="{{ item.item.0.item.get_image_url }}">
                    </div>
                    <div class="item-info">
                        <div class="item-seller">
                            {{ item.item.0.item.seller }}
                        </div>
                        <div class="item-title">
                            {{ item.item.0.item }}
                        </div>
                        <div class="item-subtitle">
                            {% for list in item.item %}
                                {% if forloop.last %}
                                    {{ list }}
                                {% else %}
                                    {{ list }} +
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item-price">
                        <h2>{{ item.item.0.line_item_total }}원</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="billing-info">
            <div class="pay-info">
                <div class="discount">
                    <h2>할인/적립금</h2>
                    <div class="mileage">
                        <div class="mileage-input">
                            <h3>적립금</h3>
                            {% if user_mileage_val > order.order_total %}
                                <input type="tel" id="mileage" name="mileage" value="0" data-max="{{ order.order_total }}">
                            {% else %}
                                <input type="tel" id="mileage" name="mileage" value="0" data-max="{{ user.mileage }}">
                            {% endif %}
                            <h3 class="unit">원</h3>
                        </div>
                        <div class="button">
                            <button>전액사용</button>
                            {% if user_mileage_val > order.order_total %}
                                <span>(사용가능 적립금 {{ order.order_total }}원)</span>
                            {% else %}
                                <span>(사용가능 적립금 {{ user.mileage }}원)</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="point">
                        <div class="point-input">
                            <h3>포인트</h3>
                            {% if user_point_val > order.order_total %}
                                <input type="tel" id="point" name="point" value="0" data-max="{{ order.order_total }}">
                            {% else %}
                                <input type="tel" id="point" name="point" value="0" data-max="{{ user.point }}">
                            {% endif %}
                            <h3 class="unit">원</h3>
                        </div>
                        <div class="button">
                            <button>전액사용</button>
                            {% if user_point_val > order.order_total %}
                                <span>(사용가능 포인트 {{ order.order_total }}원)</span>
                            {% else %}
                                <span>(사용가능 포인트 {{ user.point }}원)</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pay">
                    <h2>결제정보</h2>
                    <div class="pay-option">
                        <label>
                            <input type="radio" class="radio" name="type" value="card" id="">
                            카드결제
                        </label>
                        <label>
                            <input type="radio" class="radio" name="type" value="phone" id="">
                            핸드폰결제
                        </label>
                        <label>
                            <input type="radio" class="radio" name="type" value="trans" id="">
                            실시간 계좌이체
                        </label>
                        <label>
                            <input type="radio" class="radio" name="type" value="vbank" id="">
                            가상계좌 입금
                        </label>
                        <label>
                            <input type="radio" class="radio" name="type" value="point" id="pay_by_point">
                            전액 포인트
                        </label>
                    </div>
                </div>
            </div>
            <div class="total">
                <h2>결제 금액</h2>
                <h1>{{ order.order_total }}<span>원</span></h1>
            </div>
        </div>
        <div class="buyer-info">
            <div class="buyer-form">
                <label for="email">
                    <span>*</span>이메일
                </label>
                <input type="text" name="email" value="{{ user.email }}" disabled>
            </div>
            <div class="buyer-form">
                <label for="name">
                    <span>*</span>결제자명
                </label>
                <input type="text" name="name" value="{{ user.name }}">
            </div>
            <div class="buyer-form">
                <label for="phone">
                    <span>*</span>휴대폰 번호
                </label>
                <input type="text" name="phone" value="{{ user.phone }}">
            </div>
        </div>
        <div class="dashboard-purchase-bill">
            <button class="dashboard-charge-button">결제하기</button>
        </div>
    </div>
{% endblock %}