{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/guide.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/dashboard/guide.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.paging.min.js' %}"></script>
{% endblock %}


{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-info">
            <div class="dashboard-nav">자주하는 질문</div>
        </div>
        <div class="guide-nav">
            <ul>
                <li><a href="{% url 'dashboard_guide' %}">이용방법</a></li>
                <li class="active"><a href="{% url 'dashboard_question' %}">자주하는 질문</a></li>
            </ul>
        </div>
        <div class="question_wrapper">
            <div class="question_nav">
                <ul>
                    <li><button class="active" id="btn_entire" question-type="entire">전체</button></li>
                    <li><button id="btn_usage" question-type="usage">이용</button></li>
                    <li><button id="btn_seller" question-type="seller">판매자</button></li>
                    <li><button id="btn_purchase" question-type="purchase">구매자</button></li>
                    <li><button id="btn_report" question-type="report">신고</button></li>
                    <li><button id="btn_etc">기타</button></li>
                </ul>
            </div>
            <div class="question_content seller">
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">판매 수익금은 언제 포인트로 들어오나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_1.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">판매 수익금 출금은 어떻게 할 수 있나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_2.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">서비스 등록을 하면 언제 승인이 나나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_3.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">서비스 등록 후 구매자(광고주)가 생기면 어떻게 알 수 있나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_4.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">서비스 정렬 기준은 어떻게 되나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_5.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">포스팅 서비스 판매는 어떻게 할 수 있나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_6.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">소셜업 게이지는 어떻게 산출되나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_seller_7.html' %}
                    </div>
                </div>
            </div>
            <div class="question_content purchase">
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">소셜업 게이지는 무엇인가요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_1.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">구매를 하면 판매자가 즉시 알 수 있나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_2.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">주문취소는 언제까지 할 수 있나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_3.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">구매 전에 판매자의 SNS를 볼 수 없나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_4.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">포인트 충전에 대해 세금계산서 발급이 가능한가요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_5.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">소셜업이 서비스에 대한 세금계산서를 발행해주나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_6.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">판매자가 직거래를 원할 땐 어떻게 해야 하나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_7.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">구매확정이란 무엇인가요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_purchase_8.html' %}
                    </div>
                </div>
            </div>
            <div class="question_content usage">
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">소셜업이란 어떤 서비스인가요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_1.html' %}
                    </div>
                </div>
                <div class="question_content_each small">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">고객 상담 시간은 언제인가요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_2.html' %}
                    </div>
                </div>
                <div class="question_content_each small">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">탈퇴는 어디서 하나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_3.html' %}
                    </div>
                </div>
                <div class="question_content_each small">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">구매, 판매 관련된 알림 이메일, 문자가 안와요.</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_4.html' %}
                    </div>
                </div>
                <div class="question_content_each small">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">비밀번호가 기억이 안나요.</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_5.html' %}
                    </div>
                </div>
                <div class="question_content_each large">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">휴대폰 인증번호가 오질 않아요.</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_usage_6.html' %}
                    </div>
                </div>
            </div>
            <div class="question_content report">
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">판매자가 직거래를 유도하면 신고해야 하나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_report_1.html' %}
                    </div>
                </div>
                <div class="question_content_each">
                    <div class="question-content-title-wrapper">
                        <img src="/static/img/search.png">
                        <div class="question-content-title">신고하기를 받으면 어떻게 되나요?</div>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="question_content_text">
                        {% include 'question/question_report_2.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="paging_wrapper">
            <ol id="paging">
                <li class="paging_num">1</li>
                <li class="paging_num">2</li>
                <li class="paging_num">3</li>
            </ol>
        </div>
    </div>
{% endblock %}