{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/purchase_list.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/dashboard/list.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#ask-seller').on('click', function() {
                startMessage('{{ user.id }}', $(this).data('id'), $(this).data('name'), $(this).data('profile'));
            });
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-info">
            <div class="dashboard-info-summary info-order-wish">
                <div class="dashboard-info-summary-title">
                    위시리스트
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'wish_list' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_01.png' %}" style="margin-left: -5px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-cart">
                <div class="dashboard-info-summary-title">
                    장바구니
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'cart' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_02.png' %}" style="margin-left: -8px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    구매관리
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'purchase_list' %}" class="dashboard-info-img active">
                        <img src="{% static 'img/buyer_03.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboard-purchase-list">
            <div class="purchase-list-nav">
                <ul>
                    <li class="active">전체({{ list|length }})</li>
                    <li>작업대기(0)</li>
                    <li>작업진행(0)</li>
                    <li>작업완료(0)</li>
                    <li>거래완료(0)</li>
                    <li>취소(0)</li>
                </ul>
            </div>
            <div class="item-list">
                {% if list %}
                    {% for item in list %}
                        <div class="item">
                            <div class="image">
                                {% for obj in item.cart.items.all %}
                                    {% if forloop.counter0 == 0 %}
                                        <img src="{{ obj.product.get_image_url }}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="title">
                                {% for obj in item.cart.items.all %}
                                    {% if forloop.counter0 == 0 %}
                                        <h3>{{ obj.product.title|truncatechars:27 }}</h3>
                                        <div class="meta">
                                            <p class="price">{{ item.order_total }}원</p>
                                            <p class="date"></p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% for obj in item.cart.items.all %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="seller">
                                        <p>{{ obj.product.seller }}</p>
                                        <button id="ask-seller" data-id="{{ obj.product.seller.user.id }}" data-name="{{ obj.product.seller }}" data-profile="{{ obj.product.seller.user.get_avatar }}">
                                            문의하기
                                        </button>
                                    </div>
                                    <div class="more" data-seller-id="{{ obj.product.seller.user }}">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="item-info">
                                <div class="purchase-info">
                                    {% for obj in item.cart.items.all %}
                                        {% if forloop.counter0 == 0 %}
                                            <p>주문번호 {{ item.order_id }}</p>
                                            <p>판매자 {{ obj.product.seller }}</p>
                                            <p>결제금액 <span class="money">{{ item.order_total }}원</span></p>
                                            <p>결제 수단
                                                {% if item.type == 'card' %}
                                                    신용카드
                                                {% elif item.type == 'phone' %}
                                                    휴대폰결제
                                                {% endif %}
                                            </p>
                                            <p>결제 날짜 {{ item.created }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="message">
                                    <div class="chat-canvas">

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-list">
                        아직 구매한 상품이 없습니다.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}