{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/cart.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/dashboard/cart.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.buy').on('click', function () {
                var item = get_item($(this));
                var options = get_option($(this));
                $.ajax({
                    method: 'POST',
                    url: '{% url "cart" %}',
                    data: {
                        csrfmiddlewaretoken: $(this).parent().find('input[name="csrfmiddlewaretoken"]').val(),
                        cart: item,
                        action: 'purchase',
                        manuscript_checked: options[0],
                        highrank_checked: options[1]
                    },
                    success: function (data) {
                        if (data['status'] == 'success') {
                            window.location.href = '/dashboard/purchase/' + data['cart_id'];
                        }
                    }
                });
            });
            $('#ask-seller').on('click', function() {
                startMessage('{{ user.id }}', $(this).data('id'), $(this).data('name'), $(this).data('profile'));
            });
        });

        function get_item(ele) {
            var item = [];
//            ele.parent().parent().parent().parent().find('.cart-item').each(function () {
            var cart_item = ele.parent().parent().parent().prev().prev().find('.cart-item');
            var option_id = cart_item.attr('data-id');
            item.push(option_id);
            return item;
        }

        function get_option(ele) {
            var options = [];
            var cart_option = ele.parent().parent().parent().prev().prev().find('.cart-item-option');
            var option_manuscript_checked = cart_option.attr('manuscript_available');
            var option_highrank_checked = cart_option.attr('highrank_available');
            options.push(option_manuscript_checked);
            options.push(option_highrank_checked);
            return options;
        }
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-info">
            <div class="dashboard-info-summary info-order-wish">
                <div class="dashboard-info-summary-title">
                    찜목록
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'wish_list' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_01.png' %}" style="margin-left: -5px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-cart">
                <div class="dashboard-info-summary-title">
                    장바구니
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'cart' %}" class="dashboard-info-img active">
                        <img src="{% static 'img/buyer_02.png' %}" style="margin-left: -8px;">
                    </a>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    구매관리
                </div>
                <div class="dashboard-info-summary-count">
                    <a href="{% url 'purchase_list' %}" class="dashboard-info-img">
                        <img src="{% static 'img/buyer_03.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboard-cart">
            {% if object.item %}
                {% for cartitem in object.item %}
                    <div class="dashboard-cart-item" data-type="{{ cartitem.0.item.sns_type }}" data-color="{{ cartitem.0.item.sns_type_color }}">
                        <div class="dashboard-cart-item-image">
                            <div class="circle-wrapper">
                                <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                <ul class="circle" gauge-data="{{ cartitem.0.item.socialup_gauge }}">
                                    <li class="circle-list">
                                        <div class="circle-text">1</div>
                                    </li>
                                    <li class="circle-list">
                                        <div class="circle-text">2</div>
                                    </li>
                                    <li class="circle-list">
                                        <div class="circle-text">3</div>
                                    </li>
                                    <li class="circle-list">
                                        <div class="circle-text">4</div>
                                    </li>
                                    <li class="circle-list">
                                        <div class="circle-text">5</div>
                                    </li>
                                    <div class="circle-mask2">
                                        <div class="circle-mask2-text">
                                            <span style="font-size:1.2em;">{{ cartitem.0.item.unit_price }}</span>
                                            <span style="font-size:0.9em;">원</span>
                                        </div>
                                    </div>
                                </ul>
                                <div class="cash">
                                    <span class="cash-price" style="color:grey;" data-price="{{ cartitem_product.1.price }}">
                                        <span class="item-money">{{ cartitem.0.item.price }}</span>원
                                        {% if cartitem.0.item.manuscript_price > 0 or cartitem.0.item.highrank_price > 0 %}
                                            ~
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-cart-item-title">
                            <div class="cart-item" data-id="{{ cartitem.0.item.id }}">
                                <a href="{{ cartitem.0.item.get_absolute_url }}">{{ cartitem.0.item|truncatechars:33 }}</a>
                            </div>
                            <div class="dashboard-cart-item-meta">
                                <div class="cart-item-option" manuscript_available="{{ cartitem.0.manuscript_checked }}" highrank_available="{{ cartitem.0.highrank_checked }}">
                                    {% if cartitem.0.manuscript_checked or cartitem.0.haighrank_checked %}
                                        [옵션]
                                        {% if cartitem.0.item.manuscript_price != 0 %}
                                            원고추가 + <span>{{ cartitem.0.item.manuscript_price }}원</span>
                                        {% endif %}

                                        {% if cartitem.0.item.highrank_price != 0 %}
                                            ,상위노출 + <span>{{ cartitem.0.item.highrank_price }}원</span>
                                        {% endif %}
                                    {% else %}
                                        [옵션]없음
                                    {% endif %}
                                </div>
                                <div class="cart-item-total-price">
                                    서비스 금액 ￦ <span class="item-money">{{ cartitem.0.line_item_total }}</span> 원
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-cart-item-seller">
                            <p>{{ cartitem.0.item.seller }}</p>
                            <button id="ask-seller" data-id="{{ cartitem.0.item.seller.user.id }}" data-name="{{ cartitem.0.item.seller }}" data-profile="{{ cartitem.0.item.seller.user.get_avatar }}">
                                문의하기
                            </button>
                        </div>
                        <div class="dashboard-cart-btns">
                            <ul class="dashboard-cart-btns-ul">
                                <li>
                                    {% csrf_token %}
                                    <input class="buy" id="cart-buy" value="바로구매"/>
                                </li>
                                <li>
                                    <form method="GET" id="delete-form" action="{% url 'cart' %}">
                                        <input type="hidden" name="product_item" value="{{ cartitem.0.item.id }}"/>
                                        <input type="hidden" name="delete" value="true"/>
                                        <input id="cart_delete" type="submit" value="삭제하기"/>
                                    </form>
                                </li>
                            </ul>

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-list">
                    앗! 아직 장바구니에 상품이 없네요!
                </div>
            {% endif %}
        </div>

        <div class="dashboard-cart-total">
            <div class="dashboard-cart-subtotal">
                <h1><span id="money">{{ object.cart.subtotal }}</span><span id="unit">원</span></h1>
                <p>서비스 총 금액(VAT포함)</p>
            </div>
        </div>
        <div class="dashboard-cart-purchase">
            <a href="{% url 'purchase' cart_id=object.cart.id %}" id="purchase">구매하기</a>
        </div>
    </div>
{% endblock %}