{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style type="text/css">
        .bg_container {
            background-image: url("{% static 'img/01.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            min-height: 100%;
            min-width: 1024px;

            width: 100%;
            height: auto;
            overflow: auto;
            top: 88px;
            left: 0;
        }

        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="auth-logo">
            <img src="{% static 'img/logo2.png' %}">
        </div>
        <div class="auth-area reset-password">
            <p>비밀번호가 성공적으로 변경되었습니다.</p>
            <p class="_last">변경된 비밀번호로 로그인 해주세요!</p>
            <div class="button">
                <a href="{% url 'account_login' %}" class="login">로그인</a>
            </div>
        </div>
    </div>
{% endblock %}