{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style type="text/css">
        .bg_container {
            background-image: url("{% static 'img/01.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            min-height: 100%;
            min-width: 1024px;

            width: 100%;
            height: auto;
            overflow: auto;
            top: 88px;
            left: 0;
        }

        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="auth-logo">
            <img src="{% static 'img/logo2.png' %}">
        </div>
        <div class="auth-area reset-password">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>비밀번호 변경 URL이 만료되었습니다.</p>
                <p class="_last">처음부터 다시 시작해주세요.</p>
                <div class="button">
                    <a href="{{ passwd_reset_url }}">비밀번호 변경하기</a>
                </div>
            {% else %}
                {% if form %}
                    <h2>비밀번호 변경</h2>
                    <form class="login" method="POST" action="."
                          class="password_change">{% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}
                            <br/>
                            {{ field }}
                            <br/>
                            {{ field.errors }}<br/>
                        {% endfor %}
                        <button type="submit">비밀번호 변경하기</button>
                    </form>
                {% else %}
                    <p>비밀번호가 변경되었습니다.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}