{% extends "base.html" %}
{% load staticfiles %}
{% load account %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style type="text/css">
        .bg_container {
            background-image: url("{% static 'img/01.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            min-height: 100%;
            min-width: 1024px;

            width: 100%;
            height: auto;
            overflow: auto;
            top: 88px;
            left: 0;
        }

        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="auth-logo">
            <img src="{% static 'img/logo2.png' %}">
        </div>
        <div class="auth-area reset-password">
            <h2>비밀번호 찾기</h2>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}<br/>
                    {{ field }}
                    {{ field.errors }}<br/>
                {% endfor %}
                <button type="submit">이메일로 비밀번호 찾기</button>
            </form>
            <div class="auth-other">
                <a class="auth-other-left" href="{% url 'account_signup' %}">회원가입</a>
                <a class="auth-other-right" href="{% url 'account_login' %}">로그인</a>
            </div>
        </div>
    </div>
{% endblock %}
