{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style type="text/css">
        .bg_container {
            background-image: url("{% static 'img/02.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            min-height: 100%;
            min-width: 1024px;

            width: 100%;
            height: auto;
            overflow: auto;
            top: 88px;
            left: 0;
        }

        footer {
            margin-top: 0;
        }

        .auth-area{
            padding: 70px 65px 30px 65px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="bg_container">
    <div class="auth-logo">
        <img src="{% static 'img/logo2.png' %}">
    </div>
    <div class="auth-area">
        <div class="verification-email">
            <h2>비밀번호 찾기를 위해 이메일 인증이 필요합니다</h2>
            <h3>메일함에서 인증메일을 확인해주세요!</h3>
        </div>
    </div>
</div>
{% endblock %}
