{% extends "base.html" %}
{% load staticfiles %}
{% load account socialaccount %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <style type="text/css">
        .bg_container {
            background-image: url("{% static 'img/01.png' %}");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            min-height: 100%;
            min-width: 1024px;

            width: 100%;
            height: auto;
            overflow: auto;
            top: 88px;
            left: 0;
        }

        footer {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% if messages %}
                $('.messages').slideDown().delay(3000).slideUp();
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    <div class="bg_container">
        <div class="auth-logo">
            <img src="{% static 'img/logo2.png' %}">
        </div>
        <div class="auth-area">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% for field in form %}
                    {% if forloop.counter0 != 2 %}
                        {{ field.label_tag }}<br/>
                        {{ field }}
                        {{ field.errors }}<br/>
                    {% else %}
                        {{ field }}
                        {{ field.label_tag }}
                        {{ field.errors }}<br/>
                    {% endif %}
                {% endfor %}
                <button type="submit">비밀번호 변경하기</button>
            </form>
        </div>
    </div>
{% endblock %}