{% load staticfiles %}
{% load producttags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/transaction_details.css' %}">
    <script src="/static/js/jquery-2.2.4.min.js"></script>

</head>
<body>
    <div class="transaction_detail_wrapper">
        <table id="print_section">
            <tr>
                <td colspan="2" class="transaction_title">
                    거래명세서
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    주문번호
                </td>
                <td class="transaction_detail_content right">
                    {{ order_item.order_id }}
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    거래회사
                </td>
                <td class="transaction_detail_content right">
                    소셜업
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    사업자 번호
                </td>
                <td class="transaction_detail_content right">
                    483-15-00403
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    대표자
                </td>
                <td class="transaction_detail_content right">
                    이수지 (인)
                    <img src="/static/img/stamp.png">
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    회사주소
                </td>
                <td class="transaction_detail_content right">
                    서울특별시 서초구 나루터로 15길 30-2 103호
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    서비스명
                </td>
                <td class="transaction_detail_content right">
                    {{ order_item.cart_item.item.oneline_intro }}, 포스팅 업로드
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    합계
                </td>
                <td class="transaction_detail_content right">
                    {{ order_item.cart_item.line_item_total }}
                </td>
            </tr>
            <tr>
                <td class="transaction_detail_content left">
                    거래일시
                </td>
                <td class="transaction_detail_content right">
                    {{ order_item.order.timestamp }}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="transaction_explanation_td">
                    <span class="transaction_explanation">- 이 영수증은 세금계산서, 법적 증빙 등의 서류로 사용하실 수 없습니다.</span><br>
                    <span class="transaction_explanation">- 소셜업은 공급자와 수요자의 중개 역할을 하는 사이트임을 알려드립니다.</span><br>
                    <div class="transaction_detail_btns_wrapper">
                        <button class="transaction_detail_btn print" onclick="print_transaction();">인쇄</button>
                        <button class="transaction_detail_btn close">닫기</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        function print_transaction(){
            window.print();
        }
    </script>
</body>
</html>