소셜업(이하 “회사”)는 회사가 운영하는 인터넷 사이트(Social.kr,이하 “소셜업”)을 이용하는 이용자님들의 개인정보를 매우 중요하게 생각하며 아래와 같은 개인 정보취급방침을 가지고 있습니다. 이 개인정보취급방침은 개인정보와 관련한 법령 또는 지침의 변경이 있는 경우 갱신되고, 정책의 변화에 따라 달라질 수 있으니 이용자께서는 소셜업 사이트를 방문 시 수시로 확인하여 주시기 바랍니다. 소셜업의 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br/><br/>

1. 개인정보 수집에 대한 동의<br/><br/>
소셜업은 서비스 이용을 위한 회원가입시 이용약관의 내용에 대하여 동의하는 의사표시를 ‘동의 후 가입’ 버튼을 누르는 절차를 마련하고 있으며 같은 화면에서 개인정보보호정책 또한 확인하실 수 있습니다. 동의 후 가입을 누르는 경우 개인정보의 수집에 동의한 것으로 봅니다.<br/><br/>
2. 개인정보 수집의 목적 및 이용<br/><br/>
①. 소셜업이 개인정보를 수집하는 목적은 회원의 신분과 서비스 이용의사를 확인하여 최적화되고 맞춤화된 서비스를 제공하기 위함입니다. 소셜업은 회원님께서 재화 및 서비스 상품을 주문, 결제, 배송하고 기타 회원님들을 위한 각종 서비스를 제공하기 위해 필요한 최소한의 정보를 수집하고 있습니다.<br/>
②. 소셜업은 개인정보의 기본 수집목적 이외에 다른 용도로 이를 이용하거나 회원의 동의 없이 제3자에게 이를 제공하지 않습니다.<br/>
③. 소셜업은 다음과 같은 목적으로 개인정보를 수집하며 이용합니다.<br/><br/>
1) 결제,환불 정보 : 대금결제서비스의 제공<br/>
2) 서비스 이용 관련 정보: 당사가 이용하는 서비스 이용에 따른 본인확인 및 회원 간 거래의 원활한 진행, 본인의사확인, 불만처리, 새로운 정보와 고지사항의 안내<br/>
3) 기타 수집 정보: 회원의 특성에 맞는 서비스 제공을 위한 자료<br/><br/>
3. 개인 정보의 수집항목 및 방법<br/><br/>
①. 소셜업은 최초 회원가입시 서비스 제공을 원활하게 하기 위해 필요한 최소한의 정보만을 받고 있으며 당사가 제공하는 서비스 이용에 따른 결제관련정보, 배송관련정보, 환불관련정보를 추가로 수집할 수 있습니다.<br/>
1) 회원가입시 수집하는 개인정보<br/><br/>
a. 필수항목 : 메일, 비밀번호, 페이스북 아이디(이메일)<br/>
b. 선택항목 : 없음<br/>
2) 추가수집 개인정보<br/><br/>
a. 결제 관련 정보 : 신용카드정보, 은행계좌정보, 휴대폰결제정보<br/>
b. 환불 관련 정보 : 신용카드정보, 은행계좌정보, 휴대폰결제정보<br/>
c. 서비스 이용 관련정보 : SNS정보, 사진, 자기소개, 포트폴리오, 사업자등록증정보, 통신판매업신고증(개인사업자의 경우 선택), 통장사본, 본인확인정보(CI, DI), 아이핀 인증결과 등<br/>
d. 기타 수집 정보 : 서비스이용기록, 접속로그, 쿠키, 접속IP정보, 고유기기식별값, OS버전, 단말기 기기명<br/>
②. 소셜업은 회원의 개인정보를 수집할 경우 반드시 회원의 동의를 얻어 수집하며 회원님의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적성향, 범죄기록, 건강상태 등의 정보는 회원의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.<br/><br/>
4. 개인정보 제 3자 제공 및 위탁사항<br/><br/>
개인정보 제3자 제공<br/>
①. 회사는「개인정보 수집의 목적 및 이용」에서 고지한 범위 내에서만 개인정보를 사용하며, 원칙적으로 이용자의 개인정보를 제3자에게 제공하지 않습니다.<br/>
②. 회사가 제공하는 서비스를 통하여 회원 간의 거래관계가 이루어진 경우, 원활한 거래이행을 위하여 관련 정보는 필요한 범위 내에서 회원이 동의한 경우<br/><br/>
아래와 같이 판매자에게 제공합니다.<br/><br/>
1) 제공받는 자: 판매자 혹은 파트너사<br/>
2) 제공하는 항목: ID, 판매구매기록, 이와 관련된 정보, 서비스 이용 관련정보<br/>
3) 제공받는 자의 이용목적: 서비스 제공, 구매자(판매자) 확인 및 상담<br/><br/>
③. 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우.<br/>
※ 귀하께서는 개인정보의 제3자 제공에 대해, 동의하지 않을 수 있고 언제든지 제3자 제공 동의를 철회할 수 있습니다. 다만, 제3자 제공에 기반한 관련된 일부 서비스의 이용이 제한될 수 있습니다(회원가입 서비스는 이용하실 수 있습니다.)<br/><br/>
5.개인정보 취급위탁<br/><br/>
회사는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계법령에 따라 위탁 처리되는 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 취하고 있습니다. 또한 위탁 처리하는 정보는 서비스 제공에 필요한 최소한의 범위에 국한됩니다. 회사에서 위탁처리 되고 있는 업무는 다음과 같고, 위탁사항이 변경되는 경우 해당 사실을 알려드리겠습니다.<br/><br/>
수탁업체 및 위탁업무 내용<br/>
나이스평가정보(주): 휴대폰 및 아이핀 본인인증, 실명확인<br/>
KG이니시스: 결제처리(신용카드, 휴대폰, 실시간계좌이체, 무통장입금, 현금영수증발급)<br/><br/>
6. 개인정보의 열람 및 정정<br/><br/>
①. 회원은 언제든지 등록되어 있는 개인정보를 열람하거나 정정할 수 있습니다.<br/>
②. 개인정보 열람 및 정정을 하고자 할 경우에는 로그인후 홈페이지 상단의 ‘나의정보’에서 언제든지 열람, 정정할 수 있으며, 당사 고객센터 또는 개인정보관리담당자에게 서면, 전화, 또는 전자우편으로 연락하시면 즉각 조치합니다.<br/>
③. 회원이 개인정보 오류에 대한 정정을 요청한 경우 정정을 완료하기 전까지 해당 개인정보를 이용, 제공하지 않으며, 제3자에게 기제공 된 정보에 대해서도 지체 없이 통보하여 정정하도록 조치하고 수정된 정보는 수정 절차가 완료된 시점부터 바로 적용됩니다.<br/><br/>
7. 개인정보 수집, 이용, 제공에 대한 동의 철회(회원탈퇴)<br/><br/>
①. 회원가입 등을 통한 개인정보의 수집, 이용, 제공에 대하여 회원은 가입 시 동의한 내용을 언제든지 철회할 수 있습니다.<br/>
②. 동의철회는 당사 사이트에서 언제든지 하실 수 있으며, 개인정보관리책임자에게 서면, 전화 또는 E-mail 등으로 연락하시면 즉시 개인정보 삭제등 필요한 조치를 합니다.<br/>
③. 당사는 개인정보의 수집에 대한 동의철회를 개인정보 수집시와 동등한 방법 및 절차로 행사할 수 있도록 필요한 조치를 취합니다.<br/><br/>
7. 개인정보의 보유기간 및 이용기간<br/><br/>
①. 소셜업이 회원의 개인정보를 수집하는 경우 그 보유기간은 원칙적으로 회원가입 후 구매서비스 이용약관 제9조에 의한 이용계약 종료시, 판매서비스 이용약관 제13조에 의한 해지시까지며, 이용계약이 종료할 경우 당사는 회원의 개인정보를 즉시 파기하여 제3자에게 기제공 된 정보에 대해서도 지체 없이 파기하도록 조치합니다. 다만, 다음의 경우 각각 명시한 기간 동안 개인정보를 보유합니다.<br/><br/>
1) 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우 법령에서 규정한 보존기간동안 거래내역과 최소한의 기본정보를 보유<br/>
2) 보유기간을 미리 공지하고 그 보유기간이 경과하지 아니한 경우와 개별적으로 회원의 동의를 받을 경우에는 약정한 기간 동안 보유<br/><br/>
②. 회원의 동의를 받아 보유하고 있는 개인정보에 대한 당해회원의 열람요구가 있을 경우 당사는 지체 없이 이를 열람, 확인할 수 있도록 조치합니다.<br/><br/>

8. 쿠키에 의한 개인정보 수집<br/><br/>
소셜업은 귀하에 대한 정보를 저장하고 수시로 찾아내는 쿠키를 사용합니다. 쿠키는 웹사이트가 귀하의 컴퓨터 브라우저(익스플로러, 네스케이프등)로 전송하는 소량의 정보입니다. 쿠키에 관하여 본 웹사이트는 귀하에게 개인화되고 맞춤화된 서비스를 제공하기 위해 쿠키를 사용하고 있습니다. 쿠키는 귀하의 컴퓨터는 식별하지만 귀하를 개인적으로 식별하지는 않습니다. 이용자는 본 사이트에서 보내는 쿠키를 브라우저의 설정으로 거부할 수 있습니다. 그럴 경우 소셜업에서 제공하는 서비스의 일부를 받을 수 없게 됩니다.<br/><br/>
9. 링크 사이트에 대한 책임 한계<br/><br/>
소셜업은 회원에게 다른 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 당사는 외부사이트 및 자료에대한 아무런 통제권이 없으므로, 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임을 지거나 보증할 수 없습니다. 당사가 포함하고 있는 링크를 통하여 다른 웹사이트로 갈 경우 해당 웹사이트의 개인보호정책은 당사와 무관하므로 회원은 새로 방문한 웹사이트의 정책을 반드시 검토해 보시기 바랍니다.<br/><br/>
10. 개인정보보호를 위한 이용자의 주의사항<br/><br/>
①. 소셜업의 회원정보는 비밀번호에 의해 보호되고 있습니다. 회원은 비밀번호를 누구에게도 알려주어서는 안되며 본인의 유출에 따른 책임은 회원자신이 지게 되오니 각별히 유의해 주시기 바랍니다. 당사는 결코 전화나 전자우편으로 회원의 비밀번호를 묻거나 하지 않으며 이러한 일이 있을 경우에는 당사 고객센터 또는 개인정보관리책임자에게 신고하여 주시기 바랍니다.<br/>
②. 당사의 서비스를 이용한 후에는 반드시 회원의 계정을 종료하고 웹브라우저의 창을 닫아주시기 바랍니다. 이는 회원이 다른 사람과 컴퓨터를 공유하여 사용하거나 인터넷카페, PC방, 도서관 등과 같은 공공장소에서 컴퓨터를 사용하는 경우 타인이 회원의 개인정보 및 통신내역을 볼 수 없도록 하기 위함입니다.<br/>
③. 회원은 불의의 사고를 예방하기 위하여 자신의 개인정보를 최신의 상태로 유지하는 것이 필요하며, 회원의 부정확한 정보 입력으로 발생하는 사고의 책임은 회원 자신에게 있음을 알립니다. 또한 타인의 정보를 도용하거나 허위의 정보를 입력할 경우 회원자격의 상실과 함께 형사고발의 대상이 될 수 있습니다.<br/>