<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <style></style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="20" cellspacing="0" width="600">
                <tr>
                    <td>
                        <img src="/static/img/newsletter.png">
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="20" cellspacing="0" width="300" id="emailContainer">
                <tr></tr>
                <tr>
                    <td style="font-size:16px;font-weight:500;text-align:center;padding-top:50px;">
                        이메일 : <span style="font-weight:200;">{{ user }}</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:14px;font-weight:200;text-align:center;padding-top:45px;padding-bottom:55px;">
                        비밀번호 재설정을 위해 이메일 인증을 해주세요!
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle"
                        style="cursor:pointer;background:#648efc;color:#FFFFFF;font-size:14px;font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:15px; padding-right:30px; padding-bottom:15px; padding-left:30px;">
                        <a href="{{ password_reset_url }}" target="_blank"
                           style="color:#FFFFFF; text-decoration:none;">비밀번호 재설정하기</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>