container_commands:
    01_migrate:
        command: "python manage.py migrate --noinput"
        leader_only: true
    02_makesuper:
        command: "python manage.py makesuper"
        leader_only: true
    03_collectstatic:
        command: "python manage.py collectstatic --noinput"
        leader_only: true
    04_http_to_https_redirect:
        command:
            sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf