{% load staticfiles %}
<div id="tag_navigation_wrapper">
    <div id="tag_navigation_title">원하는 카테고리를 선택해주세요. (중복선택 가능)</div>
    <div id="tag_navigation">
        <div class="tags_wrapper">
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="all_checkbox" value="all"/>
                <label for="all_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/all.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/all_click.png' %}">
                    <span>전체</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="it_checkbox" value="it"/>
                <label for="it_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/it.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/it_click.png' %}">
                    <span>IT, 기기</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="food_checkbox" value="food"/>
                <label for="food_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/food.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/food_click.png' %}">
                    <span>식품/맛집</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="fashion_checkbox" value="fashion"/>
                <label for="fashion_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/fashion.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/fashion_click.png' %}">
                    <span>패션/뷰티</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="pet_checkbox" value="pet"/>
                <label for="pet_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/pet.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/pet_click.png' %}">
                    <span>반려동물</span>
                </label>
            </div>
            <br>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="car_checkbox" value="car"/>
                <label for="car_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/car.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/car_click.png' %}">
                    <span>자동차</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="travel_checkbox" value="travel"/>
                <label for="travel_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/travel.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/travel_click.png' %}">
                    <span>여행,취미</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="health_checkbox" value="health"/>
                <label for="health_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/health.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/health_click.png' %}">
                    <span>건강,의료</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="interior_checkbox" value="interior"/>
                <label for="interior_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/interior.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/interior_click.png' %}">
                    <span>인테리어</span>
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="etc_checkbox" value="etc"/>
                <label for="etc_checkbox">
                    <img class="tag_image_before_click" src="{% static 'img/new_tags/etc.png' %}">
                    <img class="tag_image_clicked" src="{% static 'img/new_tags/etc_click.png' %}">
                    <span>기타</span>
                </label>
            </div>
        </div>
    </div>
</div>