body {
    background: white;
}

.container {
    margin-top: 50px;
}

.dashboard-header {
    border-bottom: 3px solid #648efc;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.dashboard-header .dashboard-title {
    font-size: 20px;
    font-weight: bold;
    color: #3D3D3D;
    position: absolute;
}

.dashboard-header .dashboard-sub {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    position: absolute;
    right: 15px;
}

.dashboard-header .dashboard-sub li {
    display: inline-block;
    margin-right: 15px;
}

.dashboard-header .dashboard-sub li span {
    color: #648efc;
}

.dashboard-header .dashboard-sub li#header-buy {
    margin-right: 0;
}

.dashboard-content {
    float: right;
    width: 565px;
}

.dashboard-content .dashboard-info {
    border: 2px solid #DADADA;
    width: 561px;
    height: 170px;
    text-align: center;
}

.dashboard-content .dashboard-info-summary {
    display: inline-block;
    width: 32%;
    margin-top: 25px;
    margin-bottom: 45px;
    height: 121px;
}

.dashboard-content .dashboard-info-summary .dashboard-info-summary-title {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, .7);
}

.dashboard-content .dashboard-info-summary {
    border-right: 1px solid #DADADA;
}

.dashboard-content .dashboard-info-summary.info-order-process{
    border-right: none;
}

.dashboard-content .dashboard-info-summary .dashboard-info-summary-count {
    width: 100%;
    height: 100%;
    margin-top: 12px;
}

.dashboard-content .dashboard-info-summary .dashboard-info-img {
    background: #DEDEDE;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    text-align:center;
}

.dashboard-content .dashboard-info-summary .dashboard-info-img:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.dashboard-content .dashboard-info-img img {
    vertical-align: middle;
    display: inline-block;
    height: 60%;
    width: 60%;
}

.dashboard-content .dashboard-info-summary .dashboard-info-img.active {
    background: #648efc;
}

.dashboard-content .dashboard-info-summary .dashboard-info-num {
    float: right;
    font-size: 72px;
    font-weight: 400;
    color: #DEDEDE;
    line-height: 96px;
    margin-right: 10px;
}

.dashboard-content .dashboard-info-summary .dashboard-info-num.active {
    color: #648efc;
}

.dashboard-content .dashboard-nav {
    border: 2px solid #DADADA;
    width: 530px;
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    padding-left: 30px;
    color: #555555;
}

.dashboard-content .dashboard-billing {
    border: 2px solid #DADADA;
    width: 490px;
    margin-top: 15px;
    padding: 30px 35px 60px 35px;
}

.dashboard-content .dashboard-billing .dashboard-current-point {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 5px;
}

.dashboard-content .dashboard-billing .dashboard-billing-title {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.dashboard-content .dashboard-billing .dashboard-current-point .dashboard-point {
    font-size: 24px;
    font-weight: 600;
    margin-left: 15px;
    display: inline-block;
    color: #648efc;
}

.dashboard-content .dashboard-billing .dashboard-charge-point {
    border-bottom: 1px solid #DADADA;
    padding-top: 15px;
    padding-bottom: 10px;
}

.dashboard-content .dashboard-billing .dashboard-charge-point .dashboard-billing-radio {
    font-size: 17px;
    font-weight: 300;
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
}

.dashboard-content .dashboard-billing .dashboard-charge-point .dashboard-billing-radio .control {
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}

.dashboard-content .dashboard-billing .dashboard-charge-point .billing-more {
    font-size: 10px;
    font-weight: 600;
    padding: 3px 10px 3px 10px;
    border: 2px solid #DADADA;
    background: #DEDEDE;
    vertical-align: middle;
    border-radius: 3px;
    color: rgba(0, 0, 0, .6);
}

.dashboard-content .dashboard-billing .dashboard-charge-type {
    border-bottom: 1px solid #DADADA;
    padding-top: 15px;
    padding-bottom: 10px;
}

.dashboard-content .dashboard-billing .dashboard-charge-type .dashboard-billing-radio {
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
    display: inline-block;
}

.dashboard-content .dashboard-billing .dashboard-charge-type .dashboard-billing-radio .control {
    margin-right: 13px;
}

.dashboard-content .dashboard-billing .dashboard-charge-type .dashboard-billing-radio .control img {
    vertical-align: middle;
}

.dashboard-content .dashboard-billing .dashboard-charge-description {
    font-size: 12px;
    color: rgba(0, 0, 0, .3);
    margin-top: 20px;
}

.dashboard-content .dashboard-billing .dashboard-charge-total {
    text-align: center;
    margin-top: 38px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}

.dashboard-content .dashboard-billing .dashboard-charge-total #total {
    font-size: 20px;
    font-weight: 600;
    color: #648efc;
}

.dashboard-content .dashboard-billing .dashboard-charge-total #vat {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
}

.dashboard-content .dashboard-billing .dashboard-charge-click {
    text-align: center;
}

.dashboard-content .dashboard-billing .dashboard-charge-button {
    background: #648efc;
    color: white;
    width: 122px;
    height: 43px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 30px;
}

.dashboard-content .dashboard-register-seller {
    margin-top: 35px;
    padding-left: 35px;
    min-height: 50px;
}

.dashboard-content .dashboard-register-seller .dashboard-register-seller-description {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    float: left;
    width: 360px;
}

.dashboard-content .dashboard-register-seller .dashboard-register-seller-button {
    float: right;
    width: 120px;
    height: 35px;
    background: #648efc;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 35px;
    border-radius: 0px;
}

.dashboard-content .dashboard-menu {
    margin-top: 40px;
}

.dashboard-content .dashboard-menu table {
    border-collapse: collapse;
}

.dashboard-content .dashboard-menu table tr td {
    border: 2px solid #DADADA;
    position: relative;
}

.dashboard-content .dashboard-menu table td {
    width: 188px;
    height: 188px;
    text-align: center;
    line-height: 188px;
    font-size: 20px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;
}

.dashboard-content .dashboard-menu table td a{
    display: block;
    width:100%;
    height:100%;
}

.dashboard-content .dashboard-menu table td i {
    position: absolute;
    top: 78px;
    right: 20px;
    font-size: 28px;
    color: #DEDEDE;
}

.dashboard-content .dashboard-change-form {
    border: 2px solid #DADADA;
    width: 535px;
    margin-top: 15px;
    padding: 40px 0px 40px 25px;
    font-size:14px;
}


/*
.dashboard-content .dashboard-change-form input {
    width: 385px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}
*/

.dashboard-content .dashboard-change-form textarea {
    width: 365px;
    height: 215px;
    background: #F2F2F2;
    margin-bottom: 20px;
    border: none;
    resize: none;
    outline: 0;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-left: 25px;
}

.dashboard-content .dashboard-change-form label {
    font-size: 14px;
    color: #3D3D3D;
}

.dashboard-content .dashboard-change-form label[for=id_description] {
    vertical-align: top;
}

.dashboard-content .dashboard-change-form #id_media {
    display: none;
}




.dashboard-content .dashboard-change-form .base_info{
    margin-top:20px;
    height:220px;
}

.dashboard-content .dashboard-change-form .base_info .base_info_image {
    display: inline-block;
    width:25%;
    height:100%;
}

.dashboard-content .dashboard-change-form .base_info .base_info_image img {
    width: 100px;
    height : 100px;
    border-radius: 50%;
}

.dashboard-content .dashboard-change-form .base_info .base_info_basic {
    display: inline-block;
    float:right;
    width:75%;
    height:100%;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.title {
    display: inline-block;
    width:70px;
    text-align: center;
    margin-bottom: 10px;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.name{
    display: inline-block;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.name input{
    width: 100px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.birth_year {
    display: inline-block;
}

/* sex part */
.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.sex .radio_female_wrapper{
    width:30%;
    margin-left: 15%;
    margin-bottom:10px;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.sex .radio_male_wrapper{
    width:30%;
    margin-left: 15%;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.address{
    display: inline-block;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.job{
    display: inline-block;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.job input {
    width: 70px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.email input {
    width: 250px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}

.dashboard-change-form .base_info .base_info_basic .base_info_basic_content.phone input {
    width: 250px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}

.description_title{
    display: inline-block;
}

.description_text_wrapper{
    display: inline-block;
    vertical-align: top;
}

.password_rest_content{
    display: inline-block;
    margin-left:15%;
}

.password_rest_content input{
    width: 150px;
    height: 25px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 35px;
}

.agree_alarm_title{
}

.agree_alarm_content_wrapper{
    display: inline-block;
    margin-left:15%;
    width:100%;
}

.alarm_content_title{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    width:30%;
    margin-right:5%;
    margin-bottom: 10px;
}

.alarm_content_checkbox{
    display: inline-block;
}


.dashboard-content .dashboard-change-form .image {
    margin-bottom: 35px;
    position: relative;
    text-align: center;
}

.dashboard-content .dashboard-change-form .image img {
    width: 100px;
    height : 100px;
    border-radius: 50%;
}

.dashboard-content .dashboard-change-form .add_image {
    /*position: absolute;*/
    /*z-index: 3;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 50%;*/
    /*bottom: 0;*/
    /*right: 210px;*/
    /*color: white;*/
    /*background: #648efc;*/
    cursor: pointer;
    /*text-align: center;*/
    /*line-height: 36px;*/
}


.dashboard-content .dashboard-change-form .change_button {
    width: 95px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    background: #648efc;
    margin-top:5%;
    margin-left: 40%;
}

.dashboard-menu .sub-info {
    position: absolute;
    top: 110px;
    left: 80px;
    background: #648efc;
    height: 25px;
    width: 25px;
    font-size: 14px;
    color: white;
    line-height: 25px;
    border-radius: 50%;
}

/* account_change added */
.dashboard-change-form-menu{
    width:561px;
    height:40px;
    border: 1px solid #DEDEDE;
    margin-top:15px;
}

.dashboard-change-form-menu ul{
    list-style:none;
    width:100%;
    height:100%;
    padding-top:2%;
}

.dashboard-change-form-menu li{
    float:left;
}

.dashboard-change-form-menu li:nth-child(1){
    width:15%;
    margin-left:7%;
}

.dashboard-change-form-menu li:nth-child(2){
    width:25%;
    margin-left:5%;
}

.dashboard-change-form-menu button{
    background:none;
    width:100%;
    text-align:center;
}

/* button for transition */
#btn_basic_info{
    color: #648efc;
}

/* dashboard-change-form seller */
.dashboard-change-form.seller{
    display: none;
}

.dashboard-change-form.seller input{
    height: 16px;
    background: #F2F2F2;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px 10px;
}

.dashboard-change-form.seller .seller_form_content {
    width:100%;
}

.dashboard-change-form.seller .seller_form_title{
    display:inline-block;
    width:25%;
    text-align:center;
}

.dashboard-change-form.seller .seller_form_title.representative_name{
    width:40%;
}

.dashboard-change-form.seller .seller_form_title.company_type{
    width:40%;
}

.dashboard-change-form.seller .seller_form_input {
    display:inline-block;
    width:70%;
}

.dashboard-change-form.seller .seller_form_input.representative_name{
    width:55%;
}

.dashboard-change-form.seller .seller_form_input.company_type {
    width:55%;
}

.dashboard-change-form.seller .seller_form_input.account_name input {
    width:33.5%;
}

/* type part */

.seller_form_content.type .seller_form_input.type {
    vertical-align: top;
}
.seller_form_content.type .seller_form_input.type #id_type{
    list-style:none;
}

.seller_form_content.type .seller_form_input.type #id_type li{
    float:left;
}

/* account_number part */

.seller_form_content.account_number .seller_form_input.account_number select{
    width:40%;
}

.seller_form_content.account_number .seller_form_input.account_number input{
    width:43%;
    margin-left:5%;
}

/* company_name part */
.dashboard-change-form.seller .seller_form_content.company_name{
    width:55%;
    display: inline-block;
}

.dashboard-change-form.seller .seller_form_content.company_name .seller_form_title.company_name{
    width:45.5%;
}

.dashboard-change-form.seller .seller_form_content.company_name .seller_form_input.company_name{
    width:53%;
}

.seller_form_content.company_name #id_company_name{
    width:81%;
}

/* representative_name part */

.dashboard-change-form.seller .seller_form_content.representative_name {
    width:40%;
    display: inline-block;
}

.dashboard-change-form.seller .seller_form_content.representative_name input{
    width:70%;
}


/* corporate_number */
.seller_form_input.corporate_number input{
    width: 55%;
}


/* business_field part */
.dashboard-change-form.seller .seller_form_content.business_field{
    width:55%;
    display: inline-block;
}

.dashboard-change-form.seller .seller_form_content.business_field .seller_form_title.business_field{
    width:45.5%;
}

.dashboard-change-form.seller .seller_form_content.business_field .seller_form_input.business_field{
    width:49.5%;
}

.seller_form_content.business_field #id_business_field{
    width:87%;
}

/* company_type part */

.dashboard-change-form.seller .seller_form_content.company_type {
    width:40%;
    display: inline-block;
}

.dashboard-change-form.seller .seller_form_content.company_type input{
    width:70%;
}

/* business_license part */
.seller_form_content.business_license .seller_form_input.business_license input{
    /*background:none;*/
}


/* account_copy part */
.seller_form_content.account_copy .seller_form_input.account_copy input{
    /*background:none;*/
}


.seller_form_content input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.seller_form_input.business_license label {
    display: inline-block;
    padding: .3em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: top;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.seller_form_input.account_copy label {
    display: inline-block;
    padding: .3em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: top;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.seller_form_content .file_name {
    display: inline-block;
    padding: .5em .75em;
    /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background: #5e5e5e;
/*
    background-color: #f5f5f5;

    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

/* change_button_seller part */
.change_button_seller{
    margin-left:40%;
    width:15%;
    height:30px;
    margin-top:10%;
    background-color: #648efc;
    color:white;
}


/* dialog customize */
#dialog-confirm{
    text-align: center;
}

#dialog-confirm2{
    text-align: center;
}

.ui-widget-header{
    width:80%;
    margin-left:5%;
    margin-top:3%;
    margin-bottom: 6%;
    background: none;
    border:none;
    border-bottom:1px solid black;
    border-radius:0px;
}

.ui-dialog .ui-dialog-titlebar-close{
    background: none;
    border: none;
    background-image: url("/static/img/cancle.png");
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
    border:none;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button{
    width:28%;
    background-color: white;
    border: 1px solid black;
    border-radius:0px;
    color: #000;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:nth-child(1){
    background-color: #648efc;
    border: 1px solid #648efc;
    color: white;
}

.ui-widget-overlay{
    background: white;
}

/*  */