#header {
    font-family: NotoSans-light, sans-serif;
    line-height: 44px;
    font-weight: 200;
    background: #648efc;
    height: 60px;
    box-sizing: border-box;
    z-index: 99;
    width: 100%;
    min-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
}

#header .inner {
    width:90%;
    height:100%;
    position: relative;
    margin: 0 auto;
    zoom: 1;
    z-index: 4;
    padding: 0 20px;
}

#header #logo {
    width: 20%;
    height: 100%;
    float: left;
}

#header #logo img {
    vertical-align: middle;
    margin-top: 13px;
}

#header #gnb {
    position: absolute;
    left: 186px;
    top: 22px;
}

#header #gnb input {
    width: 350px;
    height: 34px;
    border: 3px solid #648efc;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 13px;
}

#header #gnb img {
    position: absolute;
    right: 15px;
    top: 13px;
    font-weight: 100;
    color: #DFDFDF;
    cursor: pointer;
}

#header_tnb {
    width:28%;
    display: inline-block;
    float:right;
    height:100%;
    font-size: 16px;
    letter-spacing: .05em;
    top: 0;
    line-height: 50px;
}

#header_tnb > a {
    width:20%;
    height:62%;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    color:white;
    font-weight:400;
    text-align: center;
}

_:-ms-lang(x), #header_tnb > a#signup{
    margin-right: 15px;
    height:80%;
}

_:-ms-lang(x), #header_tnb > a#login{
    height:80%;
}


#header_tnb > a > i {
    color: #648efc;
    font-size: 12px;
    margin-left: 5px;
}

#dashboard strong {
    font-weight: bold;
}

#header_tnb > #header-profile {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top:9px;
}

#header_tnb .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-dropdown {
    position: absolute;
    z-index: 20;
    width: 190px;
    top: 55px;
    right: 25px;
    background: white;
    border: 1px solid #DEDEDE;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, .15);
}

.header-menu.active {
    color: white !important;
    background: #648efc;
}

.header-menu.active + .header-sub-menu {
    display: block;
}

.header-dropdown a, .header-dropdown .header-menu {
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #777777;
    border-bottom: 1px solid #DEDEDE;
    cursor: pointer;
}

.header-dropdown .header-menu span {
    float: right;
    margin-right: 15px;
}

.header-dropdown a:hover {
    color: white;
    background: #648efc;
    cursor: pointer;
}

.header-dropdown .header-menu:hover {
    color: white;
    background: #648efc;
    cursor: pointer;
}

.header-dropdown .header-sub-menu {
    display: none;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-dropdown .header-sub-menu a {
    font-size: 11px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    font-weight: 100;
}

.header-dropdown .header-sub-menu a:hover {
    color: #648efc;
    cursor: pointer;
    background: white;
    font-weight: 400;
}

#point span {
    color: #648efc;
    font-weight: 600;
}

@media screen and (max-width: 960px) {
    #header #gnb input {
        width: 360px;
    }
}


/* search */
#header .header_search{
    width:45%;
    display: inline-block;
    margin-left:3%;
}

#header .header_search input[type="text"]{
    width:80%;
    margin-top:1.2em;
    height:30px;
    vertical-align: top;
    line-height: normal;
    text-indent: 10px;
    font-size: 13px;
}

::-webkit-input-placeholder{
    font-size:12px;
    margin-left:5px;
}

#header .header_search .header_search_btn{
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:1em;
    background-color: #cecece;
    margin-left:-5px;
}

#header .header_search .header_search_btn input[type="image"]{
    width:73%;
    margin-left:15%;
}

/* navigation part */
.header_navigation{
    height:60px;
    border-bottom:1px solid #cecece;
}

.header_navigation ul{
    list-style: none;
    width:40%;
    height:100%;
    margin-left:30%;
}

.header_navigation ul li{
    float:left;
    width:20%;
    height:34px;
    margin-top:24px;
    font-size: 13px;
    font-weight:400;
    text-align: center;
}

.header_navigation ul .active{
    border-bottom: 2px solid #648efc;
}

.header_navigation ul li button {
    background: none;
}


/* search option dropbox */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    background: white;
    width:20%;
    height:30px;
    color:#648efc;
    left:3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width:100%;
    top:30px;
    background-color: white;
    border:1px solid #648efc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content label{
    display: block;
    cursor: pointer;
    font-size: 13px;
    padding-left:10px;
}

.dropdown-content label.option_sub{
    color:black;
    padding-left:20px;
}

.dropdown-content label:hover{
    background-color: #f1f1f1;
}

.dropdown-content input {
    display: none;
}

#dropdown_arrow{
    float:right;
    margin-top:7px;
    margin-right:7px;
    background-color: transparent;
}

.dropdown-selected{
    display: inline-block;
    position: relative;
    top: -5px;
    left:10px;
    font-size: 13px;
}

_:-ms-lang(x), .dropdown-selected {
    top: -9px;
}

.notification_popup_wrapper{
    display: none;
    position:absolute;
    top:65px;
    right:10%;
    background-color: #f2f2f2;
    width:365px;
    height:auto;
    max-height:335px;
    border:1px solid #f1f1f1;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.notification_popup_wrapper .notification_popup_title{
    width:100%;
    height:22px;
    padding-top:2%;
    text-align: center;
}

_:-ms-lang(x), .notification_popup_wrapper .notification_popup_title {
    padding-bottom:2%;
}

.notification_popup_wrapper .notification_popup_content {
    width:100%;
    background-color: white;
    height:auto;
    max-height:313px;
    overflow-y: scroll;
}

.notification_popup_wrapper .notification_popup_content .notification_each_wrapper{
    width:100%;
}

.notification_popup_content .notification_each_wrapper .notification_each:nth-child(1){
    margin-top:20px;
    font-size: 14px;
}

.notification_popup_content .notification_each_wrapper .notification_each{
    width:90%;
    margin-left: 5%;
    margin-top:10px;
    margin-bottom: 10px;
}

#header_tnb .fa.fa-circle.bell{
    position: absolute;
    top:10px;
    margin-left:50px;
    font-size: 10px;
    color:darkslategrey;
}

#header_tnb > a > .fa.fa-circle.message{
    position: absolute;
    top:10px;
    margin-left:5px;
    font-size: 10px;
    color:darkslategrey;
}