.jumbotron-info {
    width: 450px;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 500px;
    position: relative;
}

.jumbotron-info h1 {
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.jumbotron-info p {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}

.jumbotron-info p span {
    color: #648efc;
    font-weight: bold;
}

.jumbotron-info a {
    position: absolute;
    background: #648efc;
    padding: 10px 55px 10px 55px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    top: 270px;
    left: 580px;
}

.jumbotron-header {
    width: 400px;
    margin: 0 auto;
}

.jumbotron-header ul li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    border: solid 1px #777;
    cursor: pointer;
    margin-right: 15px;
}

.jumbotron #owl .item img {
    display: block;
    width: 100%;
    height: 400px;
}

.jumbotron .owl-carousel {
    margin-top: 35px;
    margin-bottom: 50px;
    z-index: 2;
}

.special-service {
    margin-top: 60px;
    margin-bottom: 50px;
    overflow: hidden;
}

.special-service .special-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;

}

.special-service .special-title .special-subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #888;
    margin-top: 5px;
}

.special-service .special-sort {
    position: absolute;
    right: 0;
    top: 30px;
}

.special-service .special-sort li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.special-service .special-sort li.active {
    color: #648efc;
}

.jumbotron .survey-pagination {
    margin-top: 15px;
    margin-right: -15px;
}

.jumbotron .survey-pagination i {
    margin-right: 15px;
    font-size: 12px;
    color: #555555;
    opacity: 0.5;
}

.jumbotron .survey-pagination i.active {
    opacity: 1;
}

.jumbotron .survey img.fa-angle-left {
    font-size: 92px;
    font-weight: 100;
    margin-top: 160px;
    left: 30px;
    color: #999999;
    cursor: pointer;
    position: absolute;
}

.jumbotron .survey img.fa-angle-right {
    font-size: 92px;
    font-weight: 100;
    margin-top: 160px;
    right: 30px;
    color: #999999;
    cursor: pointer;
    position: absolute;
}

.jumbotron .survey .steps {
    height: 130px;
}

.jumbotron .survey .survey-complete {
    width: 100px;
    height: 45px;
    background: #648efc;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 45px;
    top: 265px;
    font-weight: bold;
}

.special-info {
    position: relative;
}

.special-list {
    position: relative;
    margin-top: 55px;
}

.list-card {
    float: left;
    width: 225px;
    height: 265px;
    background: white;
    margin-right: 18px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, .05);
}

.list-card.last {
    margin-right: 0;
}

.list-card.card-last {
    margin-right: 0;
}

.card-subtitle {
    margin-top: 3px;
}

.list-card .card-price {
    float: right;
    position: absolute;
    top: 10px;
    right: -5px;
    z-index: 4;
    background: #648efc;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.list-card .card-price-back {
    float: right;
    position: absolute;
    top: 31px;
    right: -5px;
    z-index: 1;
    width: 5px;
    height: 10px;
    background: #3D3D3D;
}

.list-card .card-image {
    position: relative;
    width: 225px;
    height: 172px;
}

.list-card .card-image img {
    width: 225px;
    height: 172px;
}

.list-card .card-info {
    padding: 15px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

.list-card .card-author {
    font-size: 13px;
    color: #777777;
    font-weight: 400;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.list-card .card-author .card-author-info {
    float: left;
}

.list-card .card-author .card-author-info-rating {
    float: right;
    right: 30px;
    position: absolute;
}

.list-card .card-author .card-author-info-rating i {
    font-size: 14px;
    color: #b1c6fc;
}

.list-card .card-author .card-author-info-rating i.active {
    color: #648efc;
}

.row {
    height: 330px;
}