.jumbotron-info {
    width: 450px;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 500px;
    position: relative;
}

.jumbotron-info h1 {
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.jumbotron-info p {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}

.jumbotron-info p span {
    color: #648efc;
    font-weight: bold;
}

.jumbotron-info a {
    position: absolute;
    background: #648efc;
    padding: 10px 55px 10px 55px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    top: 270px;
    left: 580px;
}

.jumbotron-header {
    width: 400px;
    margin: 0 auto;
}

.jumbotron-header ul li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    border: solid 1px #777;
    cursor: pointer;
    margin-right: 15px;
}

.jumbotron-header ul li:hover {
    color: #648efc;
    border: solid 1px #648efc;
}

.jumbotron-header ul li.active {
    color: #648efc;
    border: solid 1px #648efc;
}

.jumbotron #owl .item img {
    display: block;
    /*width: 100%;*/
    height: 400px;
}

.jumbotron .owl-carousel {
    margin-top: 35px;
    margin-bottom: 50px;
    z-index: 2;
    width:80%;
    margin-left:10%;
}

.jumbotron .owl-carousel .owl-slide {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.jumbotron-allow {
    position: relative;
}

.jumbotron-allow .allow {
    position: absolute;
    z-index: 3;
    top: 190px;
    cursor: pointer;
}

.jumbotron .allow-left {
    left: 50px;
}

.jumbotron .allow-right {
    right: 50px;
}


/* new jumbotron */

.new_jumbotron{
    margin-top:5%;
    border:1px solid #cecece;
    width:80%;
    margin-left:10%;
    height:400px;
    font-size: 0px;
}

.new_jumbotron .jumbotron_left{
    width:66%;
    height:100%;
    display: inline-block;
    float:left;
}

.new_jumbotron .jumbotron_left .owl-slide {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.new_jumbotron .jumbotron_left .owl-controls.clickable{
    display: none;
}

.new_jumbotron .jumbotron_right{
    width:34%;
    height:100%;
    display: inline-block;
    background-color: #aac1fe;
}

.new_jumbotron .jumbotron_right.second {
    display: none;
}

.new_jumbotron .jumbotron_right.third {
    display: none;
}

.new_jumbotron .jumbotron_right.fourth {
    display: none;
}

.new_jumbotron .jumbotron_right.fifth {
    display: none;
}


.new_jumbotron .jumbotron_right .jumbotron_right_content{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width:50%;
    height:50%;
    box-shadow: 0 0 0 1px grey inset;
}

.new_jumbotron .jumbotron_right .jumbotron_right_content.first{
    float:left;
}

.new_jumbotron .jumbotron_right .jumbotron_right_content.second {
    display: inline-block;
    float:right
}

.new_jumbotron .jumbotron_right .jumbotron_right_content.third {
    float:left;
    display: inline-block;
}

.new_jumbotron .jumbotron_right .jumbotron_right_content.fourth {
    display: inline-block;
    float:right
}

.special-service {
    min-height:500px;
    margin-top: 60px;
    overflow: hidden;
}

.special-service .special-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.special-service .special-title .special-subtitle {
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin-top: 5px;
}

.special-service .special-sort {
    position: absolute;
    right: 0;
    top: 30px;
}

.special-service .special-sort li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.special-service .special-sort li.active {
    color: #648efc;
}

.jumbotron .survey-pagination {
    margin-top: 15px;
    margin-right: -15px;
}

.jumbotron .survey-pagination i {
    margin-right: 15px;
    font-size: 12px;
    color: #555555;
    opacity: 0.5;
}

.jumbotron .survey-pagination i.active {
    opacity: 1;
}

.jumbotron .survey img.fa-angle-left {
    font-size: 92px;
    font-weight: 100;
    margin-top: 160px;
    left: 30px;
    color: #999999;
    cursor: pointer;
    position: absolute;
}

.jumbotron .survey img.fa-angle-right {
    font-size: 92px;
    font-weight: 100;
    margin-top: 160px;
    right: 30px;
    color: #999999;
    cursor: pointer;
    position: absolute;
}

.jumbotron .survey .steps {
    height: 130px;
}

.jumbotron .survey .survey-complete {
    width: 100px;
    height: 45px;
    background: #648efc;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 45px;
    top: 265px;
    font-weight: bold;
}

.special-info {
    position: relative;
}

.special-list {
    position: relative;
    margin-top: 55px;
}

.list-card {
    float: left;
    width: 23%;
    height: 265px;
    background: white;
    margin-right: 18px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid #DADADA;
}

.list-card.last {
    margin-right: 0;
}

.list-card.card-last {
    margin-right: 0;
}

.card-subtitle {
    margin-top: 3px;
}

.list-card .card-price {
    float: right;
    position: absolute;
    top: 10px;
    right: -5px;
    z-index: 4;
    background: #648efc;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.list-card .card-price-back {
    float: right;
    position: absolute;
    top: 31px;
    right: -5px;
    z-index: 1;
    width: 5px;
    height: 10px;
    background: #3D3D3D;
}

.list-card .card-image {
    position: relative;
    width: 225px;
    height: 172px;
}

.list-card .card-image img {
    width: 225px;
    height: 172px;
}

.list-card .card-main-info .card-type {
    position: relative;
		float: left;
}

.list-card .card-main-info .card-type .product-type-image{
    margin-top:4px;
    margin-right:8px;
}

.list-card .card-main-info {
    height: 180px;
    /*width: 266px;*/
    padding: 15px 15px 20px 15px;
    /*text-align: center;*/
}

.list-card .card-main-info .card-title {
    font-size: 13px;
    font-weight: 600;
    height:3em;
    text-align:center;
    line-height: 20px;
    color: #333;
    z-index: 10;
    overflow:hidden;
}

.list-card .card-main-info .socialup-gauge {
    position: absolute;
    top: 85px;
    left: 30px;
    z-index: 9;
}

.list-card .card-main-info .product-price {
    border: 1px solid #DADADA;
    border-radius: 5px;
    background: white;
    margin-top: 75px;
    overflow: hidden;
    position: relative;
    min-width: 80px;
    display: inline-block;
    text-align: center;
    padding: 5px 15px 5px 15px;
    z-index: 11;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.list-card .card-info {
    height: 46px;
    padding: 10px 15px 0px 15px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    border-top: 1px solid #DADADA;
    color: #333;
    background: #F2F2F2;
}

.list-card .card-author {
    font-size: 13px;
    color: #777777;
    font-weight: 400;
    /*position: absolute;*/
    /*bottom: 10px;*/
    width: 100%;
    background: #D2D2D2;
}

.list-card .card-author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.list-card .card-author span {
    margin-top: 8px;
    margin-left: 10px;
    float: right;
}

.list-card .card-author .card-author-info {
    float: left;
}

.list-card .card-author .card-author-info-rating {
    float: right;
    margin-top: 8px;
    /*right: 30px;*/
    /*position: absolute;*/
}

.list-card .card-author .card-author-info-rating i {
    font-size: 14px;
    color: #999;
}

.list-card .card-author .card-author-info-rating i.active {
    color: #FEDD43;
}

.row {
    height: 330px;
}

/* social gauge part */
#circle{
	position:relative;
  height:45px;
  width:90px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background:green;
}

.circle-wrapper{
	width:300px;
	height:150px;
    margin-top:5px;
    margin-left:5px;
	/*background-color:grey;*/
}
/* arrow for 1 */
/*
#arrow{
	position:relative;
	left:30;
	top:90;
	transform: rotate(15deg);
}
*/
/* arrow for 2 */
/*
#arrow{
	position:relative;
	left:21%;
	top:30;
	transform: rotate(45deg);
}
*/
/* arrow for 3 */
/*
#arrow{
	position:relative;
	left:45%;
	top:0;
	transform: rotate(90deg);
}
*/
/* arrow for 4 */
/*
#arrow{
	position:relative;
	left:70%;
	top:30;
	transform: rotate(135deg);
}
*/
/* arrow for 5 */
/*
.circle-arrow{
	position:relative;
	left:10%;
	top:3.5em;
	transform: rotate(160deg);
}
*/
/* default arrow */

.circle-arrow{
	position:relative;
	left:0;
	top:0;
	/*transform: rotate(160deg);*/
}
/*
*/
/* ul tag circle */
.circle {
  position: relative;
  /*border: 1px solid black;*/
  padding: 0;
  /*margin: 1em auto;*/
  /*margin: 1em 1em 0 3em;*/
	margin-left:5%;
  width: 150px;
  height: 75px;
  border-radius: 150px 150px 0 0;
  list-style: none;
  overflow: hidden;
}
.circle-list {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  transform-origin: 0% 100%;
}
.circle-text {
  position: absolute;
  left: -100%;
  width: 150px;
  height: 150px;
  text-align: center;
  transform: skewY(36deg) rotate(15deg);
  padding-top: 5px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
}

_:-ms-lang(x), .circle-text {
    padding-top: 1px;
}


.circle-list:first-child {
  transform: rotate(270deg) skewY(-36deg);
}
.circle-list:nth-child(2) {
  transform: rotate(306deg) skewY(-36deg);
}
.circle-list:nth-child(3) {
  transform: rotate(342deg) skewY(-36deg);
}
.circle-list:nth-child(4) {
  transform: rotate(18deg) skewY(-36deg);
}
.circle-list:nth-child(5) {
  transform: rotate(54deg) skewY(-36deg);
}
li:first-child .circle-text {
	color:black;
    background: #cecece;
}
li:nth-child(2) .circle-text {
	color:black;
    background: #cecece;
}
li:nth-child(3) .circle-text {
	color:black;
    background: #cecece;
}
li:nth-child(4) .circle-text {
	color:black;
    background: #cecece;
}
li:nth-child(5) .circle-text {
	color:black;
    background: #cecece;
}
.circle-mask2{
	position:absolute;
	bottom:0;
	left:17%;
  height:66%;
  width:66%;
  text-align:center;
  margin-top:2em;
  border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  background:white;
	z-index:3;
}
.circle-mask2-text{
  padding-top:1em;
}

.cash{
  position:relative;
  width:180px;
  height:36px;
  border:1px solid grey;
  border-radius:15px;
  text-align:center;
    display: table-cell;
  vertical-align: middle;
}
.cash span{
    display: inline-block;
    margin-top:7px;
}

/* range part */
#range-wrapper{
    position:relative;
    left:84%;
    top:5px;
    margin-top:7px;
    width:100%;
}

#range-wrapper > span{
    font-size:11px;
    margin-top:3px;
}

#range-wrapper > #amount{
    margin-top:10px;
}

#slider-range{
    width:14%;
    margin-right:10px;
    /*float:right;*/
    height:10px;
    border-radius:10px;
    background-color:#d7d7d7;
}

#slider-range > .ui-slider-range{
    background-color: #6882ff;
}

#slider-range > span{
    background-color: white;
    border-radius: 50%;
    border: 4px solid #6882ff;
    width:10px;
    height:10px;
}

/* tag nav */
#tag_navigation_wrapper{
    width:100%;
    height:300px;
    background-color: #DFDFDF;
}

#tag_navigation_wrapper #tag_navigation_title{
    width:100%;
    text-align: center;
    display: inline-block;
    margin-top:1.5%
}

#tag_navigation_wrapper #tag_navigation{
    width:80%;
    height:65%;
    margin-left:10%;
    margin-top:1.5%;
    background-color: white;
}

#tag_navigation_wrapper #tag_navigation input[type="checkbox"]{
    display: none;
}

#tag_navigation_wrapper #tag_navigation input[type="checkbox"]:checked + label {
    color:#648efc;
}

#tag_navigation_wrapper #tag_navigation .tag_image_before_click{
    display: inline-block;
}

#tag_navigation_wrapper #tag_navigation .tag_image_clicked{
    display: none;
}

#tag_navigation_wrapper #tag_navigation .tags_wrapper{
    width:80%;
    margin:0 auto;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper{
    margin-bottom:20px;
    display: inline-block;
    position:relative;
    font-size: 13px;
    width:18%;
    text-align: center;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(1) {
    margin-top:50px;
    left:0%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(2) {
    left:2%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(3) {
    left:4%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(4) {
    left:6%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(5) {
    left:8%;
}


#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(7) {
    left:0%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(8) {
    left:2%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(9) {
    left:4%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(10) {
    left:6%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper:nth-child(11) {
    left:8%;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper label img{
    vertical-align: middle;
}

#tag_navigation_wrapper #tag_navigation .tag_wrapper label span{
    margin-left:5px;
}

/* owl control part */
.new_jumbotron .owl-theme .owl-controls{
    float: none;
    position: absolute;
    right:0;
    top:0px;
    margin-top:0px;
}

.new_jumbotron .owl-theme .owl-controls .owl-buttons div{
    opacity: 1;
    padding: 7px 1.5em;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin:0px;
    background: #c7c7c9;
}
.new_jumbotron .owl-theme .owl-controls .owl-buttons div i{
    font-size: 1.5em;
}