.transaction_detail_wrapper{
    width:100%;
    height:550px;
    background-color: white;
}

.transaction_detail_wrapper table {
    position:relative;
    left:25%;
    border:1px solid black;
    width:50%;
    border-collapse: collapse;
    height:90%;
}

.transaction_detail_wrapper table td{
    border:1px solid black;
    border-collapse: collapse;
}

.transaction_detail_wrapper .transaction_title{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    vertical-align: middle;
    height:75px;
}

.transaction_detail_wrapper .transaction_detail_content.left{
    text-align: center;
    font-size:15px;
    font-weight:bold;
    width:30%;
}

.transaction_detail_wrapper .transaction_detail_content.right {
    text-align: center;
    font-size:15px;
    font-weight:bold;
}

.transaction_detail_wrapper .transaction_detail_content.right img{
    width:17px;
    position: relative;
    left:-24px;
    top:3px;
}

.transaction_detail_wrapper .transaction_explanation_td {
    height:120px;
    vertical-align: top;
    padding-top:25px;
}

.transaction_detail_wrapper .transaction_explanation{
    font-weight:normal;
    margin-left:3%;
    margin-top:10px;
}

.transaction_detail_wrapper .transaction_explanation_td .transaction_detail_btns_wrapper {
    position: relative;
    left:39%;
    top:20%;
}

.transaction_detail_btns_wrapper .transaction_detail_btn{
    background: none;
    width:70px;
    height: 30px;
    font-size: 15px;
}

.transaction_detail_btns_wrapper .transaction_detail_btn.print {
    background-color: #648efc;
    color:white;
    border: 1px solid #648efc;
}

.transaction_detail_btns_wrapper .transaction_detail_btn.close {
    background-color: white;
    color:black;
    border: 1px solid black;
}

@media print {
    * {
    }
    .transaction_detail_wrapper{
        width:100%;
        height:100%;
    }
    #print_section{
        width:100%;
        height:100%;
        left:0;
    }
}