.detail_wrapper{
    width:90%;
    height:580px;
    margin-left:5%;
    margin-top:3%;
    padding-top:10%;
    background: -webkit-linear-gradient(#e8e8e8 30%, white 0);
    background: -moz-linear-gradient(#e8e8e8 30%, white 0);
    background: -ms-linear-gradient(#e8e8e8 30%, white 0);
    background: linear-gradient(#e8e8e8 30%, white 0);
}

.detail_content_wrapper{
    position:relative;
    left:15%;
    width:70%;
    height:100%;
}

.detail_content_wrapper_top{
    width:100%;
    height:30%;
}

.detail_content_wrapper_top .detail_content_top_left{
    display: inline-block;
    width:30%;
    height:100%;
}

.detail_content_wrapper_top .detail_content_top_left .seller_image{
    width:100%;
    height:70%;
    text-align: center;
}

.detail_content_wrapper_top .detail_content_top_left .seller_image img{
    width:50%;
}

.detail_content_wrapper_top .detail_content_top_left .seller_name_type {
    height:30%;
    text-align:center;
}

.detail_content_wrapper_top .detail_content_top_left .seller_name_type .seller_name{
    margin-top:10px;
}

.detail_content_wrapper_top .detail_content_top_right {
    display: block;
    float:right;
    width:70%;
    height:100%;
}