.dashboard-content .dashboard-info{
    height:99px;
    text-align: left;
}

.guide-nav {
    margin-top: 25px;
    margin-left: 25px;
}

.guide-nav ul li {
    display: inline-block;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    text-align: center;
    margin-right: 30px;
}

.guide-nav ul li button{
    background: none;
}

.guide-nav ul li:first-child {
    margin-left: 10px;
}

.guide-nav ul li:last-child {
    margin-right: 0;
}

.guide-nav .active {
    color: #648efc;
}

.guide_wrapper{
    width:90%;
    margin-left:5%;
    font-size: 14px;
    margin-top:5%;
}

.guide_wrapper .guide_content_top{
    font-weight:bold;
    margin-bottom:20px;
}

.guide_wrapper .guide_content_second{
    margin-bottom:20px;
    margin-left:5px;
}

.guide_content_box{
    width:100%;
    height:40px;
    border:2px solid #cecece;
    margin-top:1%;
}

.guide_content_box .guide_content_box_wrapper{
    height:86%;
    margin-top:2px;
}

.guide_content_box .content_box_title{
    width:18%;
    height:100%;
    display: inline-block;
    color:#648efc;
    font-weight: bold;
    border-right:2px solid #cecece;
    text-align: center;
}

.guide_content_box .content_box_text{
    margin-left:3%;
    font-size: 13px;
    height:100%;
    display: inline-block;
    font-weight: bold;
}

.guide_progress{
    margin-top:7%;
}

.guide_progress .guide_progress_title{
    font-weight:bold;
}

/* caution-part */
#caution-image{
    width:100%;
}

#caution-ul{
    list-style-type: none;
    height:90px;
    padding-left:1%;
}

#caution-ul li{
    float:left;
    width:20%;
}

#caution-ul li:nth-child(2) {
    width:18%;
}

.caution-div-each{
    text-align:center;
    font-weight:bold;
    color:#5a5a5a;
    font-size:10px;
}

.caution-div-each .caution-div-num{
    color: #648efc;
    font-size:15px;
}




/* question part */
.question_wrapper{
    width:99%;
    margin-top:5%;
    height:600px;
    border:1px solid #cecece;
}

.question_wrapper .question_nav{
    width:100%;
    height:8%;
    margin-top:4%;
    margin-left:5%;
}

.question_wrapper .question_nav ul {
    list-style: none;
}

.question_wrapper .question_nav li {
    float:left;
}

.question_wrapper .question_nav li:nth-child(1) {
    width:15%;
}

.question_wrapper .question_nav li:nth-child(2) {
    width:15%;

}

.question_wrapper .question_nav li:nth-child(3) {
    width:15%;

}

.question_wrapper .question_nav li:nth-child(4) {
    width:15%;

}

.question_wrapper .question_nav li:nth-child(5) {

    width:15%;
}

.question_wrapper .question_nav li:nth-child(6) {
    width:15%;

}

.question_wrapper .question_nav li button {
    background: none;
    border:1px solid #cecece;
    margin-left:5%;
    width:70px;
    height:30px;
    font-size: 12px;
}


.question_wrapper .question_nav li .active {
    background-color:#648efc;
    border: 1px solid #648efc;
    color:white;
}

/* auth-agreement part */
.question_content .question_content_each {
    width: 100%;
    margin-top: 10px;
}

.question_content .question_content_each .question-content-title-wrapper {
    width: 94%;
    margin-left:3%;
    height: 40px;
    background: #F2F2F2;
    line-height: 40px;
    font-weight: 600;
    color: #555555;
}

.question_content .question_content_each .question-content-title-wrapper span {
    float: right;
    color: #cccccc;
    cursor: pointer;
    margin-right:30px;
}

.question_content .question_content_each .question-content-title-wrapper img {
    vertical-align: middle;
    margin-left:3%;
}

.question_content .question_content_each .question-content-title-wrapper .question-content-title{
    font-size: 12px;
    display: inline-block;
}

.question_content .question_content_each .question_content_text {
    display: none;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    height: 120px;
    width: 87.5%;
    padding: 3%;
    margin-left:3%;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    overflow: scroll;
}

/* entrie part */
