.no-list {
    text-align: center;
    color: #648efc;
    font-weight: 600;
    font-size: 14px;
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #DEDEDE;
}

.report-nav {
    margin-top: 25px;
    margin-left: 25px;
}

.report-nav ul li {
    display: inline-block;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
}

.report-nav ul li:first-child {
    margin-left: 10px;
}

.report-nav ul li:last-child {
    margin-right: 0;
}

.report-nav .active {
    color: #648efc;
}

.dashboard-report {
    /*border: 2px solid #DADADA;*/
    width: 480px;
    margin-top: 20px;
    padding: 30px 40px 40px 40px;
}

.dashboard-report .meta {
    font-size: 12px;
    font-weight: 400;
    color: #777;
}

.dashboard-report .report-form {
    margin-top: 30px;
}

.dashboard-report label {
    font-size: 14px;
    font-weight: 500;
    color: #777;
    text-align: left;
    margin-right: 5px;
    margin-top: 7px;
    position: absolute;
}

.dashboard-report ul {
    height: 40px;
}

.dashboard-report ul li {
    width: 100px;
    height: 35px;
    display: inline-block;
    margin-left: 5px;
}

.dashboard-report ul li input {
    position: relative;
    width: 15px;
}

.dashboard-report select {
    margin-bottom: 15px;
    margin-left: 60px;
    font-size: 12px;
}

.dashboard-report input {
    width: 390px;
    padding: 8px 15px 8px 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    font-size: 12px;
}

#id_bad_user_description {
    border: solid 1px #DADADA;
}

.dashboard-report textarea {
    width: 390px;
    border: solid 1px #DADADA;
    padding: 8px 15px 8px 15px;
    margin-bottom: 15px;
    margin-left: 60px;
    font-size: 12px;
    resize: none;
}

.dashboard-report button[type='submit'] {
    background: #648efc;
    color: white;
    padding: 10px 35px 10px 35px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 200px;
    font-size: 12px;
}


/* for report_received.html */

.report-received-table-ul {
    font-size: 14px;
    color: #555555;
    font-weight: 600;
    margin-left: 30px;
    /*text-align: center;*/
}

.report-received-table-ul li {
    display: inline-block;
}

.report-received-table-ul li:nth-child(1){
    width:10%;
}

.report-received-table-ul li:nth-child(2){
    width:15%;
}

.report-received-table-ul li:nth-child(3){
    width:35%;
}

.report-received-table-ul li:nth-child(4){
    width:20%;
}

.report-received-table-ul li:nth-child(5){
    width:15%;
}

.report_each_wrapper{
    margin: 0 auto;
    padding:15px 20px;
    border: 1px solid #c6c6c6;
    background-color: white;
}
.report_each_wrapper.detail{
    background-color: #ebebeb;
}

.report_each_wrapper.overview{
    border: none;
}

.report_each_left{
    display: inline-block;
    width:20%;
    vertical-align: top;
}

.report_each_left img{
    width:70px;
}

.report_each_mid {
    display: inline-block;
    width:79%;
}

.report_each_mid.overview {
    display: inline-block;
    width:56%;
    vertical-align: middle;
}

.report_each_mid .report_each_type{
    margin-bottom:10px;
}

.report_each_mid .report_each_type.overview{
    font-weight:500;
}

.report_each_right{
    display: inline-block;
    width:22%;
}

.report_each_right .report_status_user_wrapper{
    vertical-align: middle;
    display: inline-block;
}

.report_each_right .report_status_box{
    border:1px solid #c6c6c6;
    padding: 5px 10px;
    font-size: 14px;
}

.report_each_right img {
    float:right;
    width:30px;
    margin-top:10px;
}

.report_detail_wrapper{
    display: none;
}