{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/product-detail.js' %}"></script>
    <script type="text/javascript">
        window.onload = function(){
            var summernote_img = document.querySelector(".tab-content img");
            summernote_img.style.maxWidth = "100%";
        }

        $(function () {
            // 상품 상세 페이지에서 위시리스트 담기(찜하기)
            $('.product-button .wish-list').on('click', function () {
                $.ajax({
                    method: 'GET',
                    url: '/product/' + '{{ product.id }}' + '/',
                    data: {
                        wish: {{ product.id }}
                    },
                    success: function (data) {
                        if (data['status'] == 'success') {
                            $('.wish-list-modal').show();
                            $('.wish-list-zzim.on').show();
                            $('.wish-list-zzim.off').hide();

                        } else {
                            $('.wish-list-zzim.on').hide();
                            $('.wish-list-zzim.off').show();
                        }
                    }
                });
            });

            // 상품 상세 페이지에서 장바구니 담기
            $('.product-button .cart').on('click', function () {
                var item = get_item();
                $.ajax({
                    method: 'POST',
                    url: '/product/' + '{{ product.id }}' + '/',
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        cart: item,
                        action: 'cart',
                        manuscript_checked: $('#add-manuscript-price').is(':checked'),
                        highrank_checked: $('#add-highrank-price').is(':checked')
                    },
                    success: function (data) {
                        if (data['status'] == 'success') {
                            $('.cart-confirm-modal').show();
                            $('.cart-confirm-modal').center();
                            $('.cart-confirm-modal-btn.yes').on('click', function () {
                                window.location.href = '/dashboard/purchase/cart';
                            })
                            $('.cart-confirm-modal-btn.no').on('click', function () {
                                $('.cart-confirm-modal').hide();
                            })
                        } else if (data['status'] == 'already_exist') {
                            alert('이미 장바구니에 있습니다.');
                        } else {
                            alert('다시 시도해주세요.');
                        }

                    },
                    error: function (data) {
                    }
                });
            });

            // 상품 상세 페이지에서 바로구매
            $('.product-button .purchase').on('click', function () {
                var item = get_item();

                $.ajax({
                    method: 'POST',
                    url: '/product/' + '{{ product.id }}' + '/',
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        cart: item,
                        action: 'purchase',
                        manuscript_checked: $('#add-manuscript-price').is(':checked'),
                        highrank_checked: $('#add-highrank-price').is(':checked')
                    },
                    success: function (data) {
                        if (data['status'] == 'success') {
                            window.location.href = '/dashboard/purchase/' + data['cart_id'];
                        }
                    }
                });
            });

            // 상품 상세 페이지에서 문의하기
            $('.ask-seller').on('click', function () {
                startMessage('{{ user.id }}',
                        '{{ product.seller.user.id }}', '{{ product.seller.user.get_short_name }}', '{{ product.seller.user.get_avatar }}');
            });
        });

        function get_item() {
            var item = [];
            item.push('{{ product.id }}');

            $('.product-option input:checked').each(function () {
                var option_id = $(this).parent().attr('data-id');
                item.push(option_id);
            });

            return item;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="product-top">
                <div class="info-left">
                    <img id="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                    <div class="product-gauge" data-color="{{ product.sns_type_color }}">
                        <div class="circle-wrapper">
                            <img class="circle-arrow" src="{% static 'img/arrow_gauge.png' %}" >
                            <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                <li class="circle-list">
                                    <div class="circle-text">1</div>
                                </li>
                                <li class="circle-list">
                                    <div class="circle-text">2</div>
                                </li>
                                <li class="circle-list">
                                    <div class="circle-text">3</div>
                                </li>
                                <li class="circle-list">
                                    <div class="circle-text">4</div>
                                </li>
                                <li class="circle-list">
                                    <div class="circle-text">5</div>
                                </li>
                                <div class="circle-mask2">
                                    <div class="circle-mask2-text">
                                        <span style="font-size:2em;">{{ product.unit_price }}</span>
                                        <span style="font-size:1em;">원</span>
                                    </div>
                                </div>
                            </ul>
                            <div class="cash">
                                <span class="cash-price" style="font-size:1.5em; color:grey;">
                                    {{ product.price }}원
                                    {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                        ~
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="seller-info">
                        <div class="seller-right-info">
                            <div class="seller-img">
                                <img id="seller" src="{{ product.seller.user.get_avatar }}">
                                <br>
                                <h2 class="product-seller-name">{{ product.seller.user.get_short_name }}</h2>
                            </div>
                            <div class="show-seller-detail">
                                <a href="{{ product.seller.get_absolute_url }}">
                                    <button id="btn-show-seller-detail">판매자의 상세정보 보기</button>
                                </a>
                            </div>
                        </div>
                        <div class="seller-detail-info">
                            <div class="seller-detail-info-each top">
                                <div class="seller-info-rating seller-rating">
                                    <span class="seller-rating-title">판매자 평가</span>
                                    <div class="seller-rating" data-rating="{{ product.rating }}">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span class="">{{ product.rating }}/5</span>
                                        <span class="">({{ seller_review_count }}개)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="seller-detail-info-each mid">
                                <div class="seller-info-item seller-detail-intro">
                                    <div class="seller-detail-intro-title">자기소개</div>
                                    <div class="seller-detail-intro-content">
                                        {% if product.seller.user.description %}
                                            {{ product.seller.user.description }}
                                        {% else %}
                                        판매자에 대한 소개가 없습니다.
                                        {% endif %}
                                    </div>
                                    <!--작업수
                                    <h2>{# count #}개</h2>-->
                                </div>
                            </div>
                            <div class="seller-detail-info-each bottom">
                                <div class="seller-detail-session-title">
                                    <div>최근로그인</div>
                                    <div>작업수</div>
                                    <div>평균 응답시간</div>
                                </div>
                                <div class="seller-detail-session-sub">
                                    <div>{{ product.seller.user.last_login|date:"Y.m.d h:i" }}</div>
                                    <div>{{ count }}개</div>
                                    <div>1시간</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-right">
                    <div class="product-info">
                        <div class="product-title">
                            <h2 id="product-title">{{ product.oneline_intro }}</h2>
                        </div>
                        <div class="product-price">
                            <h2 id="product-price"
                                data-price="{{ product.oneline_intro }}">
                                {{ product.price }}원
                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                    ~
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <div class="product-category">
                        {% for tag in product_tag %}
                            <div class="product-tag-each">
                                <img class="product-category-image" src="{% static 'img/' %}{{ tag }}_click.png">
                                <span class="product-category-text">{{ tag.get_tag_display }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product-sns">
                        {% if product.is_url_open %}
                            <a href="{{ product.sns_url }}" target="_blank">
                                <img class="product-sns-image open" src="{% static 'img/house.png'%}">
                                <button class="product-sns-text open">판매자 SNS 바로가기</button>
                            </a>
                       {% else %}
                            <img class="product-sns-image" src="{% static 'img/lock.png'%}">
                            <button class="product-sns-text close">서비스 구매 고객에게 SNS 주소 공개</button>
                        {% endif %}
                    </div>
                    <div class="product-sub-info">
                        {% if product.sns_type == "blog" %}
                            <div class="title">
                                일평균 방문자수 / 팔로워
                            </div>
                            <div class="sub-content">
                                <span>{{ product.follower_visit_num }}</span>/
                                <span>{{ product.follower_num }} </span>
                            </div>
                        {% elif product.sns_type == "facebook" %}
                            <div class="title">
                                팔로워 / 친구수
                            </div>
                            <div class="sub-content">
                                <span>{{ product.follower_num }} </span>/
                                <span>{{ product.follower_friends_num }}</span>
                            </div>
                        {% else %}
                            <div class="title">
                                팔로워
                            </div>
                            <div class="sub-content">
                                <span>{{ product.follower_num }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="product-sub-info">
                        <div class="title">
                            작업기간
                        </div>
                        <div class="sub-content">
                            <span>{{ product.working_period }}일</span>
                        </div>
                    </div>
                    <div class="product-sub-info">
                        <div class="title">
                            서비스 만족도
                        </div>
                        <div class="sub-content">
                            <div class="seller-rating" data-rating="{{ product.rating }}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-sub-info">
                        <div class="title">
                            최근 로그인
                        </div>
                        <div class="sub-content">
                            {{ product.seller.user.last_login|time_since }}
                        </div>
                    </div>
                    {#% if product.seller.user.id != user.id %#}
                        <div class="product-sub-info ask">
                            <div class="title">
                                판매자문의
                            </div>
                            <div class="sub-content">
                                <div class="ask-seller">
                                    문의하기
                                </div>
                            </div>
                        </div>
                    {#% endif %#}

                    <div class="product-option">
                        <div class="product-select-list">
                            {% if product.manuscript_available %}
                            <div class="product-select-item manuscript">
                                <input type="checkbox" name="manuscript-available" value="manuscript-available" id="add-manuscript-price"/>
                                <span>원고가능</span>
                                <span id="product-manuscript-price">+{{ product.manuscript_price }}원</span>
                            </div>
                            {% endif %}
                            {% if product.highrank_available %}
                            <div class="product-select-item highrank">
                                <input type="checkbox" name="highrank-available" value="highrank-available" id="add-highrank-price"/>
                                <span>상위노출</span>
                                <span id="product-highrank-price">+{{ product.highrank_price }}원</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product-total">
                            총 상품금액 : <span id="product-total">{{ product.price }}</span><span
                                id="product-unit">원</span>
                        </div>
                    </div>
                    <div class="product-button">
                        <div class="wish-list-modal">
                            <div class="wish-list-modal-content">
                                <button class="wish-list-modal-btn-close" ><img src="{% static 'img/cancle.png' %}" style="width:100%;"></button>
                                <div class="wish-list-modal-content-top"><span style="color:hotpink">찜하기</span>가 되었습니다.</div>
                                <a href="{% url 'wish_list' %}" class="wish-list-modal-btn-list">전체 목록 보기</a>
                            </div>
                        </div>
                            <button class="wish-list">
                                {% if is_user_wished %}
                                    <img src="{% static 'img/zzim.png' %}" style="width:7%; display:inline-block" class="wish-list-zzim on";>
                                    <img src="{% static 'img/zzim_un.png' %}" style="width:7%; display:none" class="wish-list-zzim off";>
                                {% else %}
                                    <img src="{% static 'img/zzim.png' %}" style="width:7%; display:none" class="wish-list-zzim on";>
                                    <img src="{% static 'img/zzim_un.png' %}" style="width:7%; display:inline-block" class="wish-list-zzim off";>
                                {% endif %}

                                찜하기
                            </button>
                        {% csrf_token %}
                        <div class="cart-confirm-modal">
                            <button class="cart-confirm-modal-btn-close" ><img src="{% static 'img/cancle.png' %}" style="width:100%;"></button>
                            <div class="cart-confirm-modal-title">장바구니 담기 완료</div>
                            <div class="cart-confirm-modal-content">
                                상품이 장바구니에 담겼습니다.<br>바로 확인하시겠습니까?
                            </div>
                            <div class="cart-confirm-modal-btns">
                                <button class="cart-confirm-modal-btn yes">예</button>
                                <button class="cart-confirm-modal-btn no">아니오</button>
                            </div>

                        </div>
                        <button class="cart">장바구니</button>
                        <button class="purchase">바로구매</button>
                    </div>
                </div>
            </div>
            <div class="product-info-bottom">
                <div class="product-menu">
                    <ul>
                        <li id="detail-info">
                            <a href="#product-detail-info">
                                서비스 상세 설명
                            </a>
                        </li>
                        <li id="use-info">
                            <a href="#product-detail-use">
                                유의사항
                            </a>
                        </li>
                        <li id="review-info">
                            <a href="#product-detail-review">
                                고객 리뷰
                            </a>
                        </li>
                        <li id="caution-info">
                            <a href="#product-detail-caution">
                                이용방법
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top" onclick="scroll(0,0)">
                    <i class="fa fa-caret-up" aria-hidden="true"></i> TOP
                </div>
            </div>
            <div class="product-bottom">
                <div class="tab product-info">
                    <div class="product-content product-detail-info" id="product-detail-info">
                        <div class="tab-title">
                            서비스 상세 설명
                        </div>
                        <div class="tab-content">
                            {{ product.description|safe }}
                        </div>
                    </div>
                    <div class="product-content product-detail-use" id="product-detail-use">
                        <div class="tab-title">
                            유의사항
                        </div>
                        <div class="tab-content">
                            {% if product.message_to_buyer %}
                                {{ product.message_to_buyer|safe }}
                            {% else %}
                                2주 안에 주문 수량이 떨어졌을 경우 100% 복구해드립니다.<br/>
                                환불규정 : 셋팅이 진행된 후에는 환불이 불가하며, 작업이 당초 약정일자보다 지연되거나<br/>
                                그에 상응하는 사안이 발생했을 경우, 협의에 따라 환불이 가능합니다.
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-content product-detail-review" id="product-detail-review">
                        <div class="tab-title">
                            고객 리뷰
                        </div>
                        <div class="tab-content">
                            <div class="total-rating seller-rating" data-rating="{{ product.rating }}">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>({{ reviews_count }})</span>
                            </div>
                            <div class="graph-part">
                                콘텐츠
                                <div class="stacked-bar-graph">
                                  <span style="width:20%" class="bar-1"></span>
                                  <span style="width:20%" class="bar-2"></span>
                                  <span style="width:10%" class="bar-3"></span>
                                </div>
                            </div>
                            <div class="graph-part">
                                광고효과
                                <div class="stacked-bar-graph">
                                  <span style="width:17%" class="bar-1"></span>
                                  <span style="width:23%" class="bar-2"></span>
                                  <span style="width:10%" class="bar-3"></span>
                                </div>
                            </div>
                            <div class="graph-part">
                                친절도
                                <div class="stacked-bar-graph">
                                  <span style="width:17%" class="bar-1"></span>
                                  <span style="width:20%" class="bar-2"></span>
                                  <span style="width:13%" class="bar-3"></span>
                                </div>
                            </div>
                            {% if reviews %}
                                {% for review in reviews %}
                                    <div class="tab-review">
                                        <div class="user-img">
                                        <img id="user" src="{{ review.user.get_avatar }}">
                                        </div>
                                        <div class="review-wrapper">
                                            <div class="review-user">
                                                <span class="review-user-name">{{ review.user.name }}</span>
                                                <span class="review-created">{{ review.created|date:"Y.m.d h:i" }}</span>
                                            </div>
                                            <div class="seller-rating" data-rating="{{ review.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="review-satisfiy">
                                                <div class="review-satisfiy-sub contents">
                                                    콘텐츠
                                                    <div class="review-satisfiy-sub-box">
                                                        {% if review.contents_satisfy == 'good' %}
                                                            만족
                                                        {% elif review.contents_satisfy == 'neutral' %}
                                                            보통
                                                        {% else %}
                                                            불만족
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="review-satisfiy-sub ads">
                                                    광고효과
                                                    <div class="review-satisfiy-sub-box">
                                                        {% if review.ad_satisfy == 'good' %}
                                                            만족
                                                        {% elif review.ad_satisfy == 'neutral' %}
                                                            보통
                                                        {% else %}
                                                            불만족
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="review-satisfiy-sub kindness">
                                                    친절도
                                                    <div class="review-satisfiy-sub-box">
                                                    {% if review.kind_satisfy == 'good' %}
                                                        만족
                                                    {% elif review.kind_satisfy == 'neutral' %}
                                                        보통
                                                    {% else %}
                                                        불만족
                                                    {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-content">
                                                {{ review.review }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="no-list">
                                    상품 리뷰가 아직 없습니다.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-content product-detail-caution" id="product-detail-caution">
                        <div class="tab-title">
                            이용방법
                        </div>
                        <div class="tab-content">
                            <img id="caution-image" src="{% static 'img/guide.png' %}">
                            <ul id="caution-ul" >
                                <li>
                                    <div class="caution-div-each">
                                        <span class="caution-div-num">01</span><br>
                                        광고에 적합한 SNS의 종류와 테마 선택
                                    </div>
                                </li>
                                <li>
                                    <div class="caution-div-each">
                                        <span class="caution-div-num">02</span><br>
                                        1회 포스팅 비용과 영향력 비교
                                    </div>
                                </li>
                                <li>
                                    <div class="caution-div-each">
                                        <span class="caution-div-num">03</span><br>
                                        인플루언서에게 포스팅 견적 문의
                                    </div>
                                </li>
                                <li>
                                    <div class="caution-div-each">
                                        <span class="caution-div-num">04</span><br>
                                        포스팅 서비스 구매 및 자료 전달
                                    </div>
                                </li>
                                <li>
                                    <div class="caution-div-each">
                                        <span class="caution-div-num">05</span><br>
                                        업로드 확인 후 구매 결정
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}