{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/autoNumeric-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/product.js' %}"></script>
    {% block dashboard_js %}
    {% endblock %}
    <script type="text/javascript">
        $( "#previous_proudcts_select" ).change(function() {
            var selected_index = $("#previous_proudcts_select option:selected").index()-1;
            {% autoescape off %}
            var seller_products_arr = {{ seller_products }};
            var seller_products_tag_arr = {{ tags }};
            {% endautoescape %}

            var selected_product = seller_products_arr[selected_index];
            var json_selected_product = jQuery.parseJSON(selected_product)["fields"];
            var selected_tags_arr = seller_products_tag_arr[selected_index];
            $.ajax({url: "/",
                success: function(result){
                /* type check */
                if(json_selected_product["sns_type"]=='blog'){
                    $('#id_sns_type_0').prop('checked',true);
                    color_unchecked_sns_type();
                    color_checked_sns_type();
                    check_sns_type_for_display();
                }else if(json_selected_product["sns_type"]=='facebook'){
                    $('#id_sns_type_1').prop('checked',true);
                    color_unchecked_sns_type();
                    color_checked_sns_type();
                    check_sns_type_for_display();
                    if(json_selected_product["sns_additional_info"]=='individual'){
                        $('#id_sns_additional_info_0').prop('checked',true);
                        $('#id_sns_additional_info_1').prop('checked',false);
                        color_unchecked_additional_info();
                        color_checked_additional_info();

                    }else{
                        $('#id_sns_additional_info_0').prop('checked',false);
                        $('#id_sns_additional_info_1').prop('checked',true);
                        color_unchecked_additional_info();
                        color_checked_additional_info();
                    }
                    set_input_value('#id_follower_friends_num', json_selected_product["follower_friends_num"]);
                    set_input_value('#id_follower_num', json_selected_product["follower_num"]);

                }else if(json_selected_product["sns_type"]=='instagram'){
                    $('#id_sns_type_2').prop('checked',true);
                    color_unchecked_sns_type();
                    color_checked_sns_type();
                    check_sns_type_for_display();
                    if(json_selected_product["sex"]=='male'){
                        $('#id_sex_0').prop('checked',true);
                        $('#id_sex_1').prop('checked',false);
                        color_unchecked_sex();
                        color_checked_sex();

                    }else{
                        $('#id_sex_0').prop('checked',false);
                        $('#id_sex_1').prop('checked',true);
                        color_unchecked_sex();
                        color_checked_sex();
                    }
                }else if(json_selected_product["sns_type"]=='kakaostory'){
                    $('#id_sns_type_3').prop('checked',true);
                    color_unchecked_sns_type();
                    color_checked_sns_type();
                    check_sns_type_for_display();
                }
                uncheck_tags_for_hover();
                check_tags_for_hover();
                for (idx in selected_tags_arr){
                    $("input[name=tag][value=" + selected_tags_arr[idx] + "]").prop('checked', true);
                    check_tags_for_hover();
                }
                $('#id_sns_url').val(json_selected_product["sns_url"]);
                $('#id_message_to_buyer').val(json_selected_product["message_to_buyer"]);
                $('#id_oneline_intro').val(json_selected_product["oneline_intro"]);
                $($($('iframe').get(0).contentDocument).find('.note-editable p')[0]).html(json_selected_product["description"]);
                $('#id_price').val(json_selected_product["price"]);
                $('#id_manuscript_price').val(json_selected_product["manuscript_price"]);
                $('#id_highrank_price').val(json_selected_product["highrank_price"]);
                $('#id_working_period').val(json_selected_product["working_period"]);
                $('#id_message_to_admin').val(json_selected_product["message_to_admin"]);
            }});
        });
        {% if form.errors %}
            alert('{{ form.errors }}');
        {% else %}
            $("#dialog-confirm").dialog({
            resizable: false,
            height:190,
            autoOpen: false,
            width: 330,
            modal: true,
            buttons: [
                {
                    text: "닫기",
                    click: function() {
                        $(this).dialog("close");
                    }
                },
                {
                    text: "확인",
                    click: function() {
                        $('#product-upload-form').submit();
                    }
                }
                ]
            });

            $('.final').on('click', function() {
                if(!$('#product-upload-form')[0].checkValidity()){
                    if(!$('#id_sns_url')[0].checkValidity()){
                        alert('SNS 주소 양식을 확인해주세요.');
                    }
                    else{
                        alert('입력을 잘못했습니다.');
                    }
                }else{
                    if ($('#agreenment1').is(':checked')) {
                        $("#dialog-confirm").dialog('open');
                    }else{
                        alert('이용약관에 동의해주세요.');
                    }
                };
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <div class="dashboard_container">
        <div class="previous_record">
            <select id="previous_proudcts_select">
            <option value=None>이전 기록 불러오기</option>
                {% for product in oneline_intros %}
                    <option value={{ product }}>{{ product|safe }}</option>
                {% endfor %}
            </select>
        </div>
        <form id="product-upload-form" action="" name="product_upload" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">SNS 선택</label>
                </div>
                <div class="product-upload-sub">
                    {{ form.sns_type }}
                </div>
            </div>

            <div class="product-upload-info additional_info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">SNS 추가정보</label>
                </div>
                <div class="product-upload-sub">
                    {{ form.sns_additional_info }}
                </div>
            </div>

            <div class="product-upload-info sex">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">성별</label>
                </div>
                <div class="product-upload-sub">
                    {{ form.sex }}
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">SNS 주소</label>
                </div>
                <div class="product-upload-sub">
                    {{ form.sns_url }}
                </div>
                <div class="product-upload-sub url_check">
                    {{ form.is_url_open }}
                    주소 공개
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">팔로워수</label>
                </div>
                <div class="product-upload-sub follower_visit_num">
                    {{ form.follower_visit_num }} 명
                </div>
                <div class="product-upload-sub follower_num">
                    {{ form.follower_num }} 명
                </div>
                <div class="product-upload-sub follower_friends_num">
                    {{ form.follower_friends_num }} 명
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">포스팅가능 분야</label>
                </div>
                <div class="product-upload-sub tags">
                    {% for choice in tag_form.tag %}
                    <div class="tag_wrapper">
                    {{ choice.tag }}
                    <label for="id_tag_{{ forloop.counter0 }}">
                        <img class="tag_image_before_click" src="/static/img/{{ choice.choice_value }}.png">
                        <img class="tag_image_clicked" src="/static/img/{{ choice.choice_value }}_click.png">
                        {{ choice.choice_label }}
                    </label>
                        </div>
                    {% endfor %} 
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">작업 전 유의사항</label>
                </div>
                <div class="product-upload-sub message_to_buyer">
                    {{ form.message_to_buyer }}
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">한줄소개</label>
                </div>
                <div class="product-upload-sub oneline_intro">
                    {{ form.oneline_intro }}
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">상품소개</label>
                </div>
                <div class="product-upload-sub description">
                    <span>별도의 문의없어도 의뢰가 가능하도록 상품에 대해 구체적으로
                    명시해주세요.<br>연락처(전화번호/메일 등), 사이트 링크 기재가 불가능
                    하며 기재시 서비스 이용에 제한이 됩니다.</span>
                    {{ form.description }}
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">가격</label>
                </div>
                <div class="product-upload-sub">
                    1회 포스팅
                    {{ form.price }}
                </div>
                <div class="product-upload-sub manuscript">
                    <div class="manuscript_available">
                        {{ form.manuscript_available }}
                        원고가능
                    </div>
                    <div class="manuscript_price">
                        {{ form.manuscript_price }} 원
                    </div>
                </div>
                <div class="product-upload-sub highrank">
                    <div class="highrank_available">
                        {{ form.highrank_available }}
                        상위노출
                    </div>
                    <div class="highrank_price">
                        {{ form.highrank_price }} 원
                    </div>
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">작업기간</label>
                </div>
                <div class="product-upload-sub">
                    {{ form.working_period }} 일
                </div>
            </div>

            <div class="product-upload-info">
                <div class="product-upload-title">
                     <label class="product-upload-title-label">관리자에게 전달사항</label>
                </div>
                <div class="product-upload-sub message_to_admin">
                    {{ form.message_to_admin }}
                </div>
            </div>

            <div class="auth-agreement">
                <div class="auth-agreement-title">
                    <input type="checkbox" class="" id="agreenment1"><label for="agreenment1">이용약관에 동의합니다.</label>
                    <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
                <div class="auth-agreement-content">
                    {% include 'account/auth/auth_paper_3.html' %}
                </div>
            </div>

            <br>
            <div id="dialog-confirm" title="승인완료">
                승인 요청이 완료됩니다.<br>
                1~2일 이내에 게시물이 등록됩니다.
            </div>
            <div class="buttons">
                <button class="final" type="button">동의하고 등록하기</button>
            </div>
        </form>
    </div>
{% endblock %}
