{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/order.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/seller/order.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            {% if messages %}
                {% for message in messages %}
                    alert('{{ message }}');
                    window.location.href = "{% url 'product_upload' %}";
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            주문 / 판매관리
            <div class="premium">
                프리미엄 신청
            </div>
        </div>
        <div class="dashboard-order">
            {% if order %}
                <div class="">

                </div>
            {% else %}
                <div class="no-list">
                    아직 주문이 없습니다!
                </div>
            {% endif %}
        </div>
        {#        <div class="dashboard-info">#}
        {#            <div class="dashboard-info-summary info-order-wish">#}
        {#                <div class="dashboard-info-summary-title">#}
        {#                    출금가능#}
        {#                </div>#}
        {#                <div class="dashboard-info-summary-count">#}
        {#                    <a href="{% url 'wish_list' %}" class="dashboard-info-img">#}
        {#                        <img src="{% static 'img/influe_01.png' %}" style="margin-left: -5px;">#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="dashboard-info-summary info-order-cart">#}
        {#                <div class="dashboard-info-summary-title">#}
        {#                    예상수익금#}
        {#                </div>#}
        {#                <div class="dashboard-info-summary-count">#}
        {#                    <a href="{% url 'cart' %}" class="dashboard-info-img active">#}
        {#                        <img src="{% static 'img/influe_02.png' %}" style="margin-left: -8px;">#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="dashboard-info-summary info-order-process">#}
        {#                <div class="dashboard-info-summary-title">#}
        {#                    구매관리#}
        {#                </div>#}
        {#                <div class="dashboard-info-summary-count">#}
        {#                    <a href="{% url 'purchase_list' %}" class="dashboard-info-img">#}
        {#                        <img src="{% static 'img/influe_03.png' %}">#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

    </div>
{% endblock %}