{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/manage.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/seller/manage.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            {% if messages %}
                {% for message in messages %}
                    alert('{{ message }}');
                    window.location.href = "{% url 'product_upload' %}";
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            상품관리
            <div class="premium">
                프리미엄 신청
            </div>
        </div>
        <div class="dashboard-nav advertise">
        </div>
        <div class="dashboard-product-manage">
            {% for item in product_list %}
                <div class="product-item">
                    <div class="item-image">
                        <img src="{{ item.get_image_url }}">
                    </div>
                    <div class="item-title">
                        <h3>{{ item }}</h3>
                        <div class="item-meta">
                            <p>{{ item.updated|date:"Y.m.d" }}</p>
                        </div>
                    </div>
                    <div class="item-rating" data-rating="{{ list.item.rating }}">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-item-more">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div class="dashboard-item-popup">
                        <ul>
                            <li id="popup-edit">
                                <a href="{% url 'product_change' product_id=item.id %}">수정하기</a>
                            </li>
                            <li id="popup-delete">
                                <form action="{% url 'product_delete' %}">
                                    <input type="hidden" name="delete_product" value="{{ item.id }}">
                                    <input type="submit" value="삭제하기">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}