{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/manage.css' %}">
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            상품관리
            <div class="premium">
                프리미엄 신청
            </div>
        </div>
        <div class="dashboard-nav advertise">

        </div>
        <div class="dashboard-product-manage">
            {% for item in product_list %}
                <div class="product-item">
                    <div class="item-image">
                        <img src="{{ item.get_image_url }}">
                    </div>
                    <div class="item-title">
                        {{ item }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}