{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/manage.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript">
        $(function () {
            {% if messages %}
                {% for message in messages %}
                    alert('{{ message }}');
                    window.location.href = "{% url 'product_upload' %}";
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            상품관리
            <div class="premium">
                프리미엄 신청
            </div>
        </div>
        <div class="dashboard-nav advertise">
        </div>
        <div class="dashboard-product-manage">
            {% for item in product_list %}
                <div class="product-item">
                    <div class="item-image">
                        <img src="{{ item.get_image_url }}">
                    </div>
                    <div class="item-title">
                        <h3>{{ item }}</h3>
                        <div class="item-meta">
                            <p>{{ item.updated|date:"Y.m.d" }}</p>
                            <p><a href="{% url 'product_change' product_id=item.id %}">수정하기</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}