{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/profit.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/seller/profit.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            {#            {% if messages %}#}
            {#                {% for message in messages %}#}
            {#                    alert('{{ message }}');#}
            {#                    window.location.href = "{% url 'product_upload' %}";#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            정산 / 수익관리
            <div class="premium">
                프리미엄 신청
            </div>
        </div>
        <div class="dashboard-info-profit">
            <div class="dashboard-info-summary info-order-wish">
                <div class="dashboard-info-summary-title">
                    출금가능
                </div>
                <div class="dashboard-info-summary-count">
                    <img src="{% static 'img/influe_01.png' %}">
                </div>
            </div>
            <div class="dashboard-info-summary info-order-cart">
                <div class="dashboard-info-summary-title">
                    예상수익금
                </div>
                <div class="dashboard-info-summary-count">
                    <img src="{% static 'img/influe_02.png' %}">
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    출금완료
                </div>
                <div class="dashboard-info-summary-count">
                    <img src="{% static 'img/influe_03.png' %}">
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    잔고전환
                </div>
                <div class="dashboard-info-summary-count">
                    <img src="{% static 'img/influe_04.png' %}">
                </div>
            </div>
        </div>

    </div>
{% endblock %}