{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard/seller/profit.css' %}">
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/seller/profit.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            // 출금 가능 최대최소값 프론트엔드 처리. 백엔드 처리도 되어있음
            $('#id_money').prop('max',{{ possible_profit }});
            $('#id_money').prop('min',1);

            // 출금 가능금액에 세자리마다 ,(comma)삽입
            $('.money').digits();
        });
    </script>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            수익관리
        </div>
        <div class="dashboard-info-profit">
            <div class="dashboard-info-summary info-order-wish">
                <div class="dashboard-info-summary-title">
                    출금가능
                    <div class="meta">
                        완료 건의 판매금액
                    </div>
                </div>
                <div class="dashboard-info-summary-count" style="background: #648efc;">
                    <img src="{% static 'img/influe_01.png' %}">
                </div>
                <div class="money" style="color: #648efc;">
                    {{ possible_profit }}<span class="unit">원</span>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-cart">
                <div class="dashboard-info-summary-title">
                    예상수익금
                    <div class="meta">
                        미완료 건의 판매금액
                    </div>
                </div>
                <div class="dashboard-info-summary-count" style="background: #b1c6fc;">
                    <img src="{% static 'img/influe_02.png' %}">
                </div>
                <div class="money" style="color: #b1c6fc;">
                    {{ expected_profit }}<span class="unit">원</span>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    출금진행
                    <div class="meta">
                        출금 진행중인 금액
                    </div>
                </div>
                <div class="dashboard-info-summary-count">
                    <img src="{% static 'img/influe_04.png' %}">
                </div>
                <div class="money" style="color: #777;">
                    {{ requested_profit }}<span class="unit">원</span>
                </div>
            </div>
            <div class="dashboard-info-summary info-order-process">
                <div class="dashboard-info-summary-title">
                    출금완료
                    <div class="meta">
                        계좌로 출금완료한 총 금액
                    </div>
                </div>
                <div class="dashboard-info-summary-count" style="background: #648efc;">
                    <img src="{% static 'img/influe_03.png' %}">
                </div>
                <div class="money" style="color: #648efc;">
                    {{ completed_profit }}<span class="unit">원</span>
                </div>
            </div>
        </div>
        <div class="profit-info">
            <form method="POST">{% csrf_token %}
                <div class="profit-info-left account">
                    <div class="account-info">
                        {% for form in seller_account_forms %}
                            <div class="withdrawal_forms_each {{ form.name }}">
                                <label for="{{form.name}}">{{ form.label }}</label>
                                {{ form }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="profit-info-right">
                    <input type="hidden" name="account_change" value="true"/>
                    <input type="submit" value="계좌수정"/>
                </div>
            </form>
            <form method="POST">{% csrf_token %}
                <div class="profit-info-left withdrawal">
                    <div class="account-info">
                        <label for="{{ withdrawal_forms.money.name }}">출금가능 금액</label>
                        <span class="money">{{ possible_profit }}</span>원 중
                        {{ withdrawal_forms.money }}원
                        출금
                    </div>

                </div>
                <div class="profit-info-right">
                    <input type="hidden" name="withdraw" value="true"/>
                    <input type="submit" value="출금하기"/>
                </div>
                <div class="meta">
                    출금 신청일로부터 영업일 기준 3일안에 입금해드립니다.
                </div>
            </form>
        </div>
    </div>
{% endblock %}