{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            메시지
        </div>
        <div id="message-pannel">
            <div id="chatview">
                <div id="chat-messages">
                </div>
            </div>
            <div id="sendmessage">
                <input type="text" id="chat-input-text__field" placeholder="메시지 입력..."/>
                <button id="send"></button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/message-room.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            //notifyMe();
            init('{{ user.id }}');
            //init("1111");

            $(function() { $('#chatview').fadeIn(); });
        });
    </script>
{% endblock %}

{% block dashboard_js %}
{% endblock %}