{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block meta %}
    <META HTTP-EQUIV="Pragma" CONTENT="'no-cache">
    <META HTTP-EQUIV="Expires" CONTENT='-1'>
{% endblock %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,200italic,200,100italic,100,300'
          rel='stylesheet' type='text/css'>
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            메시지
        </div>
        <div class="message_notice_wrapper">
            <div class="message_notice_title">
                <img style="width:30px; vertical-align: bottom;" src="/static/img/message_notice.png"/>
                포스팅 작성 전 주의사항
            </div>
            <div class="message_notice_content">
                <div>블로그 작성시 각 포스팅 마지막에 리뷰 배너를 삽입해주세요.</div>
                <div>
                    <button id="popup_btn">[리뷰 배너 삽입 방법 보기]</button>
                    <button style="margin-left:20px;">[관련 공지 보러 가기]</button>
                </div>
            </div>
        </div>
        <div class="message_popup_wrapper">
            <div class="message_popup_title">인플루언서님께서 사용하고 있는 개인 배너나 문구가 없다면 소셜업 배너를 사용해주세요.</div>
            <div class="message_popup_explain">
                <div class="message_popup_logo">
                    <img src="/static/img/logo.png"/>
                </div>
                <div class="message_popup_detail">
                    본 포스팅은 소셜업을 통해 업체로부터<br/>
                    경제적 대가를 받고 작성한 포스팅입니다.
                </div>
            </div>
            <div class="message_popup_text">&lt;a href="https;//socialup.kr/81521" target="_blank">
                <br/>
                -> 추후 소스 수정
            </div>
            <div class="message_popup_btns">
                <button class="message_popup_btn copy" id="copy_button" data-clipboard-text='<a href="https;//socialup.kr/81521" target="_blank">'>소스복사</button>
                <button class="message_popup_btn close">닫기</button>
            </div>
        </div>
        <div id="message-pannel">
            <div id="chatview">
                <div id="chat-messages"></div>
            </div>
            <div id="sendmessage">
                <label class="chat-input-file" for="chat_file_input">
                    <input type="file" name="file" id="chat_file_input" style="display: none;">
                </label>
                <input type="text" id="chat-input-text" placeholder="메시지 입력..."/>
                <button id="send"></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/message-room.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            //notifyMe();
            init('{{ user.id }}');
            $('#chatview').fadeIn();
        });
    </script>
{% endblock %}