{% extends 'account/dashboard_base.html' %}
{% load staticfiles %}

{% block meta %}
    <META HTTP-EQUIV="Pragma" CONTENT="'no-cache">
    <META HTTP-EQUIV="Expires" CONTENT='-1'>
{% endblock %}

{% block dashboard_css %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}

{% block dashboard_content %}
    <div class="dashboard-content">
        <div class="dashboard-nav">
            메시지
        </div>
        <div class="channel-list-options">
            <ul>
                <li class="active" data-option="all">전체</li>
                <li data-option="unread">읽지 않은 메시지<span class="unread-message-counter"></span></li>
            </ul>
        </div>
        <table class="channels">
            <tbody id="channel_list"></tbody>
        </table>
    </div>
{% endblock %}

{% block dashboard_js %}
    <script type="text/javascript" src="{% static 'js/message-lounge.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            //notifyMe();
            init('{{ user.id }}');
            $('.channel-list-options ul li').click(function () {
                $('.channel-list-options ul li').removeClass('active');
                $(this).addClass('active');
                var unreadOnly = ($(this).data('option') == 'unread') ? true : false;
                loadGroupChannelList(unreadOnly);
            });
        });
    </script>
{% endblock %}