{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffffff">
    <title>[소셜업]-SNS 광고는 Social Up!</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <style>
        @font-face {
            font-family: NotoSans;
            src:url('{% static 'fonts/NotoSans-Regular.eot' %}');
            src:local(※),url('{% static 'fonts/NotoSans-Regular.eot' %}') format('woff'); }
        body {
            font-family:'NotoSans',sans-serif;
            font-weight:300; }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    {% block jumbotron %}{% endblock %}
    <div style="margin-bottom: 120px;">
    {% block content %}{% endblock %}
    </div>
    <div class="contact">
        <div class="contact-button">
            고객센터
        </div>
        <div class="contact-drop-down" style="display:none;">
            <a href="{% url 'contact' %}">1:1 문의</a>
            <a href="{% url 'dashboard' %}">신고하기</a>
        </div>
    </div>

    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src='{% static "js/django.csrf.js" %}'></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/SendBird.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/message-common.js' %}"></script>
        <script type="text/javascript">
            getUnreadMessageCount('{{ user.id }}', '{{ user.get_short_name }}', '{{ user.get_avatar }}');
        </script>
    {% endif %}
    {% block js %}{% endblock %}

</body>
</html>
