{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.sort').on('click', function () {
                $('.sort').removeClass('active');
                $(this).addClass('active');

                var type = $(this).text();
                if (type == '평점순') {
                    $('.product-rating').show();
                    $('.product-created').hide();
                } else if (type == '최신순') {
                    $('.product-rating').hide();
                    $('.product-created').show();
                }
            });

            // tag 클릭 때마다 ajax호출로 수정필요
            $('#tag_navigation').on('change', function () {
                var checked_tags = [];
                var checked_clicked = $('input[name=tag]:checked').next().find('.tag_image_clicked').get();
                checked_clicked.forEach(function(val){
                    checked_tags.push(jQuery(val).parent().prev().attr('value'));
                });
                // checked_tags 수정필요

                $.ajax({
                    url: window.location.pathname,
                    data: {
                        checked_tags: JSON.stringify(checked_tags)
                    },
                    success: function (data) {
                        console.log(data['product_ids_by_tags']);
                        if(data['product_ids_by_tags'].length ==0){
                            $('.list-card').each(function () {
                                $(this).show();
                            });
                        }
                        else{
                            $('.list-card').each(function () {
                                $(this).hide();
                            });
                            data['product_ids_by_tags'].forEach(function(val){
                                $('.list-card[data-id=' + val + ']').show();
                            });
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div id="tag_navigation_wrapper">
        <div id="tag_navigation_title">원하는 카테고리를 선택해주세요. (중복선택 가능)</div>
        <div id="tag_navigation">
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="all_checkbox" value="all"/>
                <label for="all_checkbox">
                    <img class="tag_image_before_click" src="/static/img/all.png">
                    <img class="tag_image_clicked" src="/static/img/all_click.png">
                    전체
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="it_checkbox" value="it"/>
                <label for="it_checkbox">
                    <img class="tag_image_before_click" src="/static/img/it.png">
                    <img class="tag_image_clicked" src="/static/img/it_click.png">
                    IT, 기기
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="food_checkbox" value="food"/>
                <label for="food_checkbox">
                    <img class="tag_image_before_click" src="/static/img/food.png">
                    <img class="tag_image_clicked" src="/static/img/food_click.png">
                    식품/맛집
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="fashion_checkbox" value="fashion"/>
                <label for="fashion_checkbox">
                    <img class="tag_image_before_click" src="/static/img/fashion.png">
                    <img class="tag_image_clicked" src="/static/img/fashion_click.png">
                    패션/뷰티
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="pet_checkbox" value="pet"/>
                <label for="pet_checkbox">
                    <img class="tag_image_before_click" src="/static/img/pet.png">
                    <img class="tag_image_clicked" src="/static/img/pet_click.png">
                    반려동물
                </label>
            </div>
            <br>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="car_checkbox" value="car"/>
                <label for="car_checkbox">
                    <img class="tag_image_before_click" src="/static/img/car.png">
                    <img class="tag_image_clicked" src="/static/img/car_click.png">
                    자동차
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="travel_checkbox" value="travel"/>
                <label for="travel_checkbox">
                    <img class="tag_image_before_click" src="/static/img/travel.png">
                    <img class="tag_image_clicked" src="/static/img/travel_click.png">
                    여행,취미
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="health_checkbox" value="health"/>
                <label for="health_checkbox">
                    <img class="tag_image_before_click" src="/static/img/health.png">
                    <img class="tag_image_clicked" src="/static/img/health_click.png">
                    건강,의료
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="interior_checkbox" value="interior"/>
                <label for="interior_checkbox">
                    <img class="tag_image_before_click" src="/static/img/interior.png">
                    <img class="tag_image_clicked" src="/static/img/interior_click.png">
                    인테리어
                </label>
            </div>
            <div class="tag_wrapper">
                <input type="checkbox" name="tag" id="etc_checkbox" value="etc"/>
                <label for="etc_checkbox">
                    <img class="tag_image_before_click" src="/static/img/etc.png">
                    <img class="tag_image_clicked" src="/static/img/etc_click.png">
                    여행,취미
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="special-service">
            <div class="special-info">
                {% if message %}
                    <div class="special-title">
                        <div class="special-subtitle">
                            {{ message }}
                        </div>
                    </div>
                {% else %}
                    <div class="special-title">
                        인기 {{ category }} 포스팅
                        <div class="special-subtitle">
                            * 소셜업 게이지란? 소셜업만의 알고리즘을 통해 SNS의 다양한 요소를 분석해 수치화 시킨 광고비 대비 효과 지수입니다.
                        </div>
                    </div>
                    <div class="special-sort">
                        <ul>
                            <li class="sort active" data-type="sort_1">평점순</li>
                            <li class="sort" data-type="sort_2">최신순</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="special-list">
                {% if message %}
                    {% for product in products %}
                        {% cycle '<div class="row">' '' '' '' %}
                        <a href="{{ product.get_absolute_url }}"
                           class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                            <div class="card-image">
                                <div class="card-price">
                                    {{ product.price }}&#8361;~
                                </div>
                                <div class="card-price-back"></div>
                                {% if product.get_thumb_sd_url %}
                                    <img src="{{ product.get_thumb_sd_url }}">
                                {% else %}
                                    <img src="{{ product.get_image_url }}">
                                {% endif %}
                            </div>
                            <div class="card-info">
                                <div class="card-title">
                                    {{ product.title }}
                                </div>
                                <div class="card-subtitle">
                                    {% for sns in product.sns_set.all %}
                                        {% for item in sns.analytics.all %}
                                            {{ item }} {{ item.outcome|round_count }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="card-author">
                                    <div class="card-author-info">
                                        {{ product.seller }}
                                    </div>
                                    <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </a>

                        {% if products|length == forloop.counter %}
                            </div>
                        {% else %}
                            {% cycle '' '' '' '</div>' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="product-rating" style="display:block;">
                        {% for product in products_rating %}
                            {% cycle '<div class="row">' '' '' '' %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}" data-id="{{ product.id }}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                        <ul class="circle">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:2em;">50</span>
                                                    <span style="font-size:1em;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                            <span>{{ product.seller }}</span>
                                        </div>
                                        <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% else %}
                                {% cycle '' '' '' '</div>' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="product-created" style="display:none;">
                        {% for product in products_created %}
                            {% cycle '<div class="row">' '' '' '' %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}" data-id="{{ product.id }}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                        <ul class="circle">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:2em;">50</span>
                                                    <span style="font-size:1em;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                            <span>{{ product.seller }}</span>
                                        </div>
                                        <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% else %}
                                {% cycle '' '' '' '</div>' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}