{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $( "#slider-range" ).slider({
            range: true,
            min: {{ high_low.1 }},
            max: {{ high_low.0 }},
            values: [ {{ high_low.1 }}, {{ high_low.0 }} ],
            slide: function( event, ui ) {
                $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ]);
                var first_span  = parseInt($(this).find('span').eq(0).css("left"))-10;
                var second_span  = parseInt($(this).find('span').eq(1).css("left"))-30-first_span;
                first_span = first_span+"px";
                second_span = second_span+"px";
                $("#first_span_val").text(ui.values[0]).css("margin-left", first_span);
                $("#first_span_val").digits();
                $("#second_span_val").text(ui.values[1]).css("margin-left", second_span);
                $("#second_span_val").digits();
                filter_ajax(ui.values[0],ui.values[1]);
                }
            });
            $("#first_span_val").text({{ high_low.1 }}).css("margin-left", -10);
            $("#first_span_val").digits();
            $("#second_span_val").text({{ high_low.0 }}).css("margin-left", 75);
            $("#second_span_val").digits();

            $('.sort').on('click', function () {
                $('.sort').removeClass('active');
                $(this).addClass('active');

                var type = $(this).text();
                if (type == '평점순') {
                    $('.product-rating').show();
                    $('.product-created').hide();
                    $('.product-price').hide();
                } else if (type == '최신순') {
                    $('.product-rating').hide();
                    $('.product-created').show();
                    $('.product-price').hide();
                } else if (type == '가격순') {
                    $('.product-rating').hide();
                    $('.product-created').hide();
                    $('.product-price').show();
                }
            });


            // selected category color
            $('.header_navigation li a').each(function(){
                if($(this).text().trim()=='{{ category_name }}'){
                    $(this).parent().addClass('active');
                }
            });

            // selected tag color
            if('{{ tag_name.0 }}'){
                ($('.tags_wrapper').find("input[value={{ tag_name.0 }}]")).attr('checked',true);
                check_tags_for_hover();
            }
            $('#tag_navigation').on('change', function () {
                var checked_tags = [];
                var checked_clicked = $('input[name=tag]:checked').next().find('.tag_image_clicked').get();
                checked_clicked.forEach(function(val){
                    checked_tags.push(jQuery(val).parent().prev().attr('value'));
                });

                $.ajax({
                    url: window.location.pathname,
                    data: {
                        checked_tags: JSON.stringify(checked_tags)
                    },
                    success: function (data) {
                        if(data['checked_tags'].length ==0){
                            $('.list-card').each(function () {
                                $(this).show();
                            });
                        }
                        else{
                            $('.list-card').each(function () {
                                $(this).hide();
                            });
                            data['product_ids_by_tags'].forEach(function(val){
                                $('.list-card[data-id=' + val + ']').show();
                            });
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div id="tag_navigation_wrapper">
        <div id="tag_navigation_title">원하는 카테고리를 선택해주세요. (중복선택 가능)</div>
        <div id="tag_navigation">
            <div class="tags_wrapper">
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="all_checkbox" value="all"/>
                    <label for="all_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/all.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/all_click.png">
                        <span>전체</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="it_checkbox" value="it"/>
                    <label for="it_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/it.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/it_click.png">
                        <span>IT, 기기</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="food_checkbox" value="food"/>
                    <label for="food_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/food.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/food_click.png">
                        <span>식품/맛집</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="fashion_checkbox" value="fashion"/>
                    <label for="fashion_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/fashion.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/fashion_click.png">
                        <span>패션/뷰티</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="pet_checkbox" value="pet"/>
                    <label for="pet_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/pet.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/pet_click.png">
                        <span>반려동물</span>
                    </label>
                </div>
                <br>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="car_checkbox" value="car"/>
                    <label for="car_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/car.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/car_click.png">
                        <span>자동차</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="travel_checkbox" value="travel"/>
                    <label for="travel_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/travel.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/travel_click.png">
                        <span>여행,취미</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="health_checkbox" value="health"/>
                    <label for="health_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/health.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/health_click.png">
                        <span>건강,의료</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="interior_checkbox" value="interior"/>
                    <label for="interior_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/interior.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/interior_click.png">
                        <span>인테리어</span>
                    </label>
                </div>
                <div class="tag_wrapper">
                    <input type="checkbox" name="tag" id="etc_checkbox" value="etc"/>
                    <label for="etc_checkbox">
                        <img class="tag_image_before_click" src="/static/img/new_tags/etc.png">
                        <img class="tag_image_clicked" src="/static/img/new_tags/etc_click.png">
                        <span>기타</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="special-service">
            <div class="special-info">
                <div class="special-title">
                    인기
                    {% if tag_name.1 %}
                        {{ tag_name.1 }}
                    {% else %}
                        {{ category_name }}
                    {% endif %}
                    포스팅
                    <div class="special-subtitle">
                        * 소셜업 게이지란? 소셜업만의 알고리즘을 통해 SNS의 다양한 요소를 분석해 수치화 시킨 광고비 대비 효과 지수입니다.
                    </div>
                </div>
                <div class="special-sort">
                    <ul>
                        <li class="sort active" data-type="sort_1">평점순</li>
                        <li class="sort" data-type="sort_2">최신순</li>
                        <li class="sort" data-type="sort_3">가격순</li>
                    </ul>
                </div>
            </div>
            <div id="range-wrapper">
                <div id="slider-range"></div>
                <span id="first_span_val"></span>
                <span id="second_span_val"></span>
            </div>
            <div id="loading" style="display: none; position:absolute; left:50%; top:50%; z-index: 10;">
                <img src="{% static 'img/ajax-loader_mid.gif' %}">
            </div>
            <div class="special-list">
                {% if not products_rating %}
                    <div class="no-list">
                        아직 등록된 서비스가 없습니다.
                    </div>
                {% else %}
                    <div class="product-rating" style="display:block;">
                        {% for product in products_rating %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}" data-id="{{ product.id }}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:24px;">{{ product.unit_price }}</span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                        </div>
                                        <div class="card-author-info-seller-rating">
                                            <div class="card-author-info-seller">{{ product.seller.user.get_short_name }}</div>
                                            <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="product-created" style="display:none;">
                        {% for product in products_created %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}" data-id="{{ product.id }}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option disable">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:24px;">{{ product.unit_price }}</span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                            <span>{{ product.seller.user.get_short_name }}</span>
                                        </div>
                                        <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="product-price" style="display:none;">
                        {% for product in products_price %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}" data-id="{{ product.id }}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option disable">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="/static/img/arrow_gauge.png" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:24px;">{{ product.unit_price }}</span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                        </div>
                                        <div class="card-author-info-seller-rating">
                                            <div class="card-author-info-seller">{{ product.seller.user.get_short_name }}</div>
                                            <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>

                {% endif %}
    </div>
    </div>
    </div>
{% endblock %}