{% load staticfiles %}
<div id="header">
    <div class="inner">
        <div id="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/ver1.5/logo.png' %}">
            </a>
        </div>
        <div class="header_search">
            <form method="GET" id="search-form" action="{% url 'search' %}" >
                <input type="text" name="keyword" placeholder="원하는 SNS 정보를 입력해주세요. 예) 맛집, 뷰티"/>
                <button class="header_search_btn" type="submit">
                    <img src="{% static 'img/search.png' %}">
                </button>
            </form>
        </div>
        <div id="header_tnb">
            {% if user.is_authenticated %}
                <a id="cart" href="{% url 'cart' %}">
                    <img src="{% static 'img/ver1.5/cart.png' %}">
                </a>
                <a id="message" href="{% url 'message_lounge' %}">
                    <img src="{% static 'img/ver1.5/message.png' %}">
                </a>
                <a id="notification" href="{% url 'message_lounge' %}">
                    <img src="{% static 'img/ver1.5/bell.png' %}">
                </a>
                <a id="header-profile" href="#">
                    <img class="profile-image" src="{{ user.get_avatar }}">
                </a>
            {% else %}
                <a id="login" href="{% url 'account_login' %}">
                    LOGIN
                </a>
                <a id="signup" href="{% url 'account_signup' %}">
                    JOIN
                </a>
            {% endif %}
        </div>
        <div class="header-dropdown" style='display:none;'>
            <a href="{% url 'dashboard' %}">마이소셜업</a>
            <a href="{% url 'product_upload' %}">서비스 등록</a>
            <div class="header-menu">구매<span><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
            <div class="header-sub-menu buyer">
                <a href="{% url 'wish_list' %}">- 찜목록</a>
                <a href="{% url 'cart' %}">- 장바구니</a>
                <a href="{% url 'purchase_list' %}">- 구매관리</a>
            </div>
            <div class="header-menu">판매<span><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
            <div class="header-sub-menu seller">
                <a href="{% url 'product_manage' %}">- 상품관리</a>
                <a href="{% url 'product_order_manage' %}">- 판매 관리</a>
                <a href="{% url 'product_profit_manage' %}">- 수익 관리</a>
            </div>
            <a href="{% url 'change_info' %}">계정설정</a>
            <a href="{% url 'account_logout' %}">로그아웃</a>
        </div>
    </div>
</div>
<div class="header_navigation">
    <ul>
        <li>
            <a href="{% url 'category' 'all' %}">
                전체
            </a>
        </li>
        <li>
            <a href="{% url 'category' 'blog' %}">
                블로그
            </a>
        </li>
        <li>
            <a href="{% url 'category' 'facebook' %}">
                페이스북
            </a>
        </li>
        <li>
            <a href="{% url 'category' 'instagram' %}">
                인스타그램
            </a>
        </li>
        <li>
            <a href="{% url 'category' 'kakaostory' %}">
                카카오스토리
            </a>
        </li>
    </ul>
</div>