{% load staticfiles %}
<div id="header">
    <div class="inner">
        <div id="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        {#        <div id="gnb">#}
        {#            <nav role="navigation" itemscope itemtype="">#}
        {#                <form>#}
        {#                    <input type="text" name="search" value="" id="gnb-search" placeholder="무엇을 찾고 계시나요?">#}
        {#                    <img class="fa-search" src="{% static 'img/search.png' %}">#}
        {#                </form>#}
        {#            </nav>#}
        {#        </div>#}
        <div id="header_tnb">
            {% if user.is_authenticated %}
                <a id="point" href="{% url 'point_history' %}">
                    POINT <span id="money">{{ user.point }}</span>
                </a>
                <a id="message" href="{% url 'message_lounge' %}">
                    MESSAGE <span class="unread-message-counter"></span>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
                <a id="doing" href="#">
                    DOING
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
                <a id="header-profile" href="#">
                    <img class="profile-image" src="{{ user.get_avatar }}">
                </a>
            {% else %}
                <a id="signup" href="{% url 'account_signup' %}">
                    JOIN
                </a>
                <a id="login" href="{% url 'account_login' %}">
                    LOGIN
                </a>
            {% endif %}
        </div>
        <div class="header-dropdown" style='display:none;'>
            <a href="{% url 'dashboard' %}">마이소셜업</a>
            {% if user.seller %}
                <a href="{% url 'product_upload' %}">포스팅 쓰기</a>
            {% endif %}
            <div class="header-menu">구매<span><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
            <div class="header-sub-menu buyer">
                <a href="{% url 'wish_list' %}">- 위시리스트</a>
                <a href="{% url 'cart' %}">- 장바구니</a>
                <a href="{% url 'purchase_list' %}">- 구매관리</a>
            </div>
            <div class="header-menu">판매<span><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
            <div class="header-sub-menu seller">
                <a>- 상품관리</a>
                <a>- 주문 / 판매 관리</a>
                <a>- 정산 / 수익 관리</a>
            </div>
            <a href="{% url 'change_info' %}">계정설정</a>
            <a href="{% url 'account_logout' %}">로그아웃</a>
        </div>
    </div>
</div>