{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <style type="text/css">
        .jumbotron {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.sort').on('click', function () {
                $('.sort').removeClass('active');
                $(this).addClass('active');

                var type = $(this).text();
                if (type == '평점순') {
                    $('.product-rating').show();
                    $('.product-created').hide();
                } else if (type == '최신순') {
                    $('.product-rating').hide();
                    $('.product-created').show();
                }
            });

            $("#owl").owlCarousel({
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true,
                stopOnHover: true,


                // "singleItem:true" is a shortcut for:
                // items : 1,
                // itemsDesktop : false,
                // itemsDesktopSmall : false,
                // itemsTablet: false,
                // itemsMobile : false

            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
    {% if not user.is_authenticated %}
        <div class="jumbotron" style='background-image: url("{% static 'img/pre_login.png' %}");'>
            <div class="jumbotron-info">
                <h1>여러분의 제품을 홍보할수 있는 SNS를 추천해드립니다</h1>
                <p>인플루언서와 직거래로 비싼 수수료는 <span>그만!</span></p>
                <p>인플루언서의 영향력을 한 눈에 <span>비교!</span></p>

                <a href="{% url 'account_signup' %}">시작하기</a>
            </div>
        </div>
    {% else %}
        <div class="jumbotron" style='background: white;'>
            <div class="jumbotron-header">
                <ul>
                    <li>블로그</li>
                    <li>페이스북</li>
                    <li>인스타그램</li>
                    <li>카카오스토리</li>
                </ul>
            </div>
            <div id="owl" class="owl-carousel owl-theme">
                <div class="item"><img src="{% static 'img/banner-01.png' %}" alt="banner-01"></div>
                <div class="item"><img src="{% static 'img/banner-02.png' %}" alt="banner-02"></div>
                <div class="item"><img src="{% static 'img/banner-03.png' %}" alt="banner-03"></div>
                <div class="item"><img src="{% static 'img/banner-04.png' %}" alt="banner-04"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="special-service">
            <div class="special-info">
                {% if message %}
                    <div class="special-title">
                        <div class="special-subtitle">
                            {{ message }}
                        </div>
                    </div>
                {% else %}
                    <div class="special-title">
                        인기 SNS 포스팅
                        <div class="special-subtitle">
                            * 소셜업 게이지란? 소셜업만의 알고리즘을 통해 SNS의 다양한 요소를 분석해 수치화 시킨 광고비 대비 효과 지수입니다.
                        </div>
                    </div>
                    <div class="special-sort">
                        <ul>
                            <li class="sort active" data-type="sort_1">평점순</li>
                            <li class="sort" data-type="sort_2">최신순</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="special-list">
                {% if message %}
                    {% for product in products %}
                        {% cycle '<div class="row">' '' '' '' %}
                        <a href="{{ product.get_absolute_url }}"
                           class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                            <div class="card-image">
                                <div class="card-price">
                                    {{ product.variation_set.first.price }}&#8361;~
                                </div>
                                <div class="card-price-back"></div>
                                {% if product.get_thumb_sd_url %}
                                    <img src="{{ product.get_thumb_sd_url }}">
                                {% else %}
                                    <img src="{{ product.get_image_url }}">
                                {% endif %}
                            </div>
                            <div class="card-info">
                                <div class="card-title">
                                    {{ product.title }}
                                </div>
                                <div class="card-subtitle">
                                    {% for sns in product.sns_set.all %}
                                        {% for item in sns.analytics.all %}
                                            {{ item }} {{ item.outcome|round_count }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="card-author">
                                    <div class="card-author-info">
                                        {{ product.seller }}
                                    </div>
                                    <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </a>

                        {% if products|length == forloop.counter %}
                            </div>
                        {% else %}
                            {% cycle '' '' '' '</div>' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="product-rating" style="display:block;">
                        {% for product in products_rating %}
                            {% cycle '<div class="row">' '' '' '' %}

                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                                <div class="card-image">
                                    <div class="card-price">
                                        {{ product.variation_set.first.price }}&#8361;~
                                    </div>
                                    <div class="card-price-back"></div>
                                    {% if product.get_thumb_sd_url %}
                                        <img src="{{ product.get_thumb_sd_url }}">
                                    {% else %}
                                        <img src="{{ product.get_image_url }}">
                                    {% endif %}
                                </div>
                                <div class="card-info">
                                    <div class="card-title">
                                        {{ product.title }}
                                    </div>
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            {{ product.seller }}
                                        </div>
                                        <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% else %}
                                {% cycle '' '' '' '</div>' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    <div class="product-created" style="display:none;">
                        {% for product in products_created %}
                            {% cycle '<div class="row">' '' '' '' %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                                <div class="card-image">
                                    <div class="card-price">
                                        {{ product.variation_set.first.price }}&#8361;~
                                    </div>
                                    <div class="card-price-back"></div>
                                    {% if product.get_thumb_sd_url %}
                                        <img src="{{ product.get_thumb_sd_url }}">
                                    {% else %}
                                        <img src="{{ product.get_image_url }}">
                                    {% endif %}
                                </div>
                                <div class="card-info">
                                    <div class="card-title">
                                        {{ product.title }}
                                    </div>
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            {{ product.seller }}
                                        </div>
                                        <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% if products|length == forloop.counter %}
                                </div>
                            {% else %}
                                {% cycle '' '' '' '</div>' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}