{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style type="text/css">
        .jumbotron {
            background-image: url("{% static 'img/container_bg.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.sort').on('click', function () {
                $('.sort').removeClass('active');
                $(this).addClass('active');

                var sort_type = $(this).attr('data-type');

                console.log(sort_type);

                $.ajax({
                    method: 'GET',
                    url: '/',
                    data: {
                        type: sort_type
                    },
                    success: function (data) {
                        console.log(data)
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="survey">
            <img class="fa-angle-left" style="display:none;" src="{% static 'img/arrow-left.png' %}">
            <img class="fa-angle-right" src="{% static 'img/arrow-right.png' %}">
            <div class="survey-title">
                <span id="italic">SNS </span>를 찾아보세요!
                <div class="survey-subtitle sub-title-step1">
                    01 테마를 선택해 주세요.
                </div>
                <div class="survey-subtitle sub-title-step2" style="display: none;">
                    02 타겟을 선택해 주세요. (중복선택 가능합니다.)
                </div>
                <div class="survey-subtitle sub-title-step3" style="display: none;">
                    03 선호하는 매체를 선택해주세요. (중복선택 가능합니다.)
                </div>
            </div>
            <form method="POST" action="">{% csrf_token %}
                <div class="checkbox">
                    <div class="steps step1">
                        <table>
                            <tbody>
                            <tr>
                                {% for choice in tag_form.tag %}
                                    {% cycle '<tr>' '' '' '' '' %}
                                    <td>
                                        {{ choice.tag }}
                                        <label for="id_tag_{{ forloop.counter0 }}">
                                            {{ choice.choice_label }}
                                        </label>
                                    </td>
                                    {% cycle '' '' '' '' '</tr>' %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="steps step2" style="display: none;">
                        <table>
                            <tbody>
                            <tr>
                                {% for choice in target_form.target %}
                                    {% cycle '<tr>' '' '' '' '' %}
                                    <td>
                                        {{ choice.tag }}
                                        <label for="id_target_{{ forloop.counter0 }}">
                                            {{ choice.choice_label }}
                                        </label>
                                    </td>
                                    {% cycle '' '' '' '' '</tr>' %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="steps step3" style="display: none;">
                        <table>
                            <tbody>
                            <tr>
                                {% for choice in sns_form.sns %}
                                    {% cycle '<tr>' '' '' '' '' %}
                                    <td>
                                        {{ choice.tag }}
                                        <label for="id_sns_{{ forloop.counter0 }}">
                                            {{ choice.choice_label }}
                                        </label>
                                    </td>
                                    {% cycle '' '' '' '' '</tr>' %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="survey-pagination">
                        <i class="fa fa-circle p-step1 active" aria-hidden="true"></i>
                        <i class="fa fa-circle p-step2" aria-hidden="true"></i>
                        <i class="fa fa-circle p-step3" aria-hidden="true"></i>
                    </div>
                    <button type="submit" class="survey-complete" style="display: none;">완료</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="special-service">
            <div class="special-info">
                <div class="special-title">
                    스페셜 서비스
                    <div class="special-subtitle">
                        전문가가 제공하는 최상의 서비스를 소개합니다.
                    </div>
                </div>
                <div class="special-sort">
                    <ul>
                        <li class="sort active" data-type="sort_1">평점순</li>
                        <li class="sort" data-type="sort_2">최신순</li>
                    </ul>
                </div>
            </div>
            <div class="special-list">
                {% for product in products %}
                    {% cycle '<div class="row">' '' '' '' %}
                    <a href="{{ product.get_absolute_url }}"
                       class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                        <div class="card-image">
                            <div class="card-price">
                                {{ product.variation_set.first.price }}&#8361;~
                            </div>
                            <div class="card-price-back"></div>
                            <img src="{{ product.get_image_url }}">
                        </div>
                        <div class="card-info">
                            <div class="card-title">
                                {{ product.title }}
                            </div>
                            <div class="card-subtitle">
                                {% for sns in product.sns_set.all %}
                                    {% for item in sns.analytics.all %}
                                        {{ item }} {{ item.outcome|round_count }}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                            <div class="card-author">
                                <div class="card-author-info">
                                    {{ product.seller }}
                                </div>
                                <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% if products|length == forloop.counter %}
                        </div>
                    {% else %}
                        {% cycle '' '' '' '</div>' %}
                    {% endif %}
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}