{% extends 'base.html' %}
{% load staticfiles %}
{% load producttags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.sort').on('click', function () {
                $('.sort').removeClass('active');
                $(this).addClass('active');

                var type = $(this).text();
                if (type == '평점순') {
                    $('.product-rating').show();
                    $('.product-created').hide();
                    $('.product-price').hide();
                } else if (type == '최신순') {
                    $('.product-rating').hide();
                    $('.product-created').show();
                    $('.product-price').hide();
                } else if (type == '가격순') {
                    $('.product-rating').hide();
                    $('.product-created').hide();
                    $('.product-price').show();
                }
            });
        });
    </script>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="special-service">
            <div class="special-info">
                {% if message %}
                    <div class="special-title">
                        <div class="special-subtitle">
                            {{ message }}
                        </div>
                    </div>
                {% else %}
                    <div class="special-title">
                        "{{ keyword }}" 검색 결과
                        <div class="special-subtitle">
                            * 소셜업 게이지란? 소셜업만의 알고리즘을 통해 SNS의 다양한 요소를 분석해 수치화 시킨 광고비 대비 효과 지수입니다.
                        </div>
                    </div>
                    <div class="special-sort">
                        <ul>
                            <li class="sort active" data-type="sort_1">평점순</li>
                            <li class="sort" data-type="sort_2">최신순</li>
                            <li class="sort" data-type="sort_3">가격순</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="special-list">
                {% if message %}
                    {% for product in products %}
                        {% cycle '<div class="row">' '' '' '' %}
                        <a href="{{ product.get_absolute_url }}"
                           class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                            <div class="card-image">
                                <div class="card-price">
                                    {{ product.price }}&#8361;~
                                </div>
                                <div class="card-price-back"></div>
                                {% if product.get_thumb_sd_url %}
                                    <img src="{{ product.get_thumb_sd_url }}">
                                {% else %}
                                    <img src="{{ product.get_image_url }}">
                                {% endif %}
                            </div>
                            <div class="card-info">
                                <div class="card-title">
                                    {{ product.title }}
                                </div>
                                <div class="card-subtitle">
                                    {% for sns in product.sns_set.all %}
                                        {% for item in sns.analytics.all %}
                                            {{ item }} {{ item.outcome|round_count }}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="card-author">
                                    <div class="card-author-info">
                                        {{ product.seller.user.get_short_name }}
                                    </div>
                                    <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="card-author-product-reviews">
                                        ({{ product.id|get_product_review_count }})
                                    </div>
                                </div>
                            </div>
                        </a>

                        {% if products|length == forloop.counter %}
                            </div>
                        {% else %}
                            {% cycle '' '' '' '</div>' %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="product-rating" style="display:block;">
                        {% for product in products_rating %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                    {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option disable">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}

                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="{% static 'img/arrow_gauge.png' %}" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:11px; color:#888;">팔로워 1명당</span><br>
                                                    <span style="font-size:23px;">{{ product.unit_price }}</span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                        </div>
                                        <div class="card-author-info-seller-rating">
                                            <div class="card-author-info-seller">{{ product.seller.user.get_short_name }}</div>
                                            <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="card-author-product-reviews">
                                                ({{ product.id|get_product_review_count }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                       </div>
                    </div>
                    <div class="product-created" style="display:none;">
                    {% for product in products_created %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option disable">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="{% static 'img/arrow_gauge.png' %}" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:11px; color:#888;">팔로워 1명당</span><br>
                                                    <span style="font-size:23px;">
                                                        {{ product.unit_price }}
                                                    </span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                        </div>
                                        <div class="card-author-info-seller-rating">
                                            <div class="card-author-info-seller">{{ product.seller.user.get_short_name }}</div>
                                            <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="card-author-product-reviews">
                                                ({{ product.id|get_product_review_count }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                       </div>
                    </div>
                    <div class="product-price" style="display:none;">
                    {% for product in products_price %}
                            <a href="{{ product.get_absolute_url }}"
                               class="{% cycle 'list-card' 'list-card' 'list-card' 'list-card last' %}">
                                <div class="card-main-info" data-type="{{ product.sns_type }}" data-color="{{ product.sns_type_color }}">
                                {% if product.manuscript_available and product.manuscript_price != 0 %}
                                        <span class="card_manuscript_option separate">원고료 별도</span>
                                    {% elif product.manuscript_available %}
                                        <span class="card_manuscript_option">원고료 포함</span>
                                    {% else %}
                                        <span class="card_manuscript_option disable">원고작성 불가</span>
                                    {% endif %}
                                    {% if product.sns_type == 'facebook' %}
                                        <div class="card_sns_option">
                                            {% if product.sns_additional_info == 'individual' %}
                                                개인
                                            {% else %}
                                                페이지
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'instagram' %}
                                        <div class="card_sns_option">
                                            {% if product.sex == 'female' %}
                                                여성
                                            {% else %}
                                                남성
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product.sns_type == 'blog' and product.highrank_available %}
                                        <div class="card_sns_option blog">
                                            상위노출
                                        </div>
                                    {% endif %}
                                  <div class="card-type">
                                    <img class="product-type-image" src="{{ product.sns_type_image_url }}" alt="{{ product.sns_type }}" />
                                  </div>
                                  <div class="card-title">
                                        {{product.oneline_intro}}
                                    </div>
                                    <div class="circle-wrapper">
                                        <img class="circle-arrow" src="{% static 'img/arrow_gauge.png' %}" >
                                        <ul class="circle" gauge-data="{{ product.socialup_gauge }}">
                                            <li class="circle-list">
                                                <div class="circle-text">1</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">2</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">3</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">4</div>
                                            </li>
                                            <li class="circle-list">
                                                <div class="circle-text">5</div>
                                            </li>
                                            <div class="circle-mask2">
                                                <div class="circle-mask2-text">
                                                    <span style="font-size:11px; color:#888;">팔로워 1명당</span><br>
                                                    <span style="font-size:23px;">
                                                        {{ product.unit_price }}
                                                    </span>
                                                    <span style="font-size:15px;">원</span>
                                                </div>
                                            </div>
                                        </ul>
                                        <div class="cash">
                                            <span class="cash-price" style="font-size:1.2em; color:grey;" data-price="{{ product.price }}">
                                               {{ product.price }}원
                                                {% if product.manuscript_price > 0 or product.highrank_price > 0 %}
                                                    ~
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="card-subtitle">
                                        {% for sns in product.sns_set.all %}
                                            {% for item in sns.analytics.all %}
                                                {{ item }} {{ item.outcome|round_count }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-author">
                                        <div class="card-author-info">
                                            <img src="{{ product.seller.user.get_avatar }}" >
                                        </div>
                                        <div class="card-author-info-seller-rating">
                                            <div class="card-author-info-seller">{{ product.seller.user.get_short_name }}</div>
                                            <div class="card-author-info-rating" data-rating="{{ product.rating }}">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                            <div class="card-author-product-reviews">
                                                ({{ product.id|get_product_review_count }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {% if products|length == forloop.counter %}
                                </div>
                            {% endif %}
                        {% endfor %}
                       </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}